@media only screen and (max-width: 1024px){
    body #cvWrapper{
        padding: 1200px 0 50px 0;
    }
    body #nav > h9{
        font-size: 15em;
        padding: 0.5em;
    }
    body #login, body #home, body #deleteUser{
        width: 30em;
    }
    body #cvSizeRange, body .fontPSize{
        width: 95%;
        top: 800px;
        left: 2.5%;
    }
    body #mainSettings{
        width: 40%;
    }
    body #colorSettings{
        gap: 150px;
    }
    body #colorSettings > div{
        width: 400px;
        height: 400px;
    }
    body #loginText, body #loginButton{
        left: 1%;
        transform: translateY(125%);
        padding: 100px;
        font-size: 15em;
        border-radius: 200px;
        border: none;
    }
    body #loginText{
        width: 80%;
    }
    body #loginButton{
        border-radius: 200px 0 0 200px;
        padding: 100px 200px;
    }
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: normal;
    outline: none;
}
body{
    background: #aaa;
}
#cvWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 500px 0 50px 0;
}
#nav{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}
#nav > h9{
    padding: 0.5em 1em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    white-space: nowrap;
    background: #111;
    color: #fff;
    cursor: pointer;
    user-select: none;
    font-weight: normal;
    font-size: 7em;
    transition: 0.1s;
}
#nav > h9:hover{
    padding: 0.1em 1em 0.9em 1em;
}
#login, #home, #deleteUser{
    width: 17em;
    background: #111;
    cursor: pointer;
    transition: 0.1s;
}
#login:hover, #deleteUser:hover{
    margin-top: -2em;
    padding-bottom: 2em;
}

#allSettingsMenu{
    z-index: 200;
    position: absolute;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: none;
}
#allSettingsMenu > p{
    background: hsl(204, 26%, 23%);
    color: #fff;
    width: 100%;
    padding: 10% 20%;
    cursor: pointer;
}
#allSettingsMenu > p:hover{
    background: hsl(204, 26%, 30%);
}
#allSettingsMenu > textarea, #allSettingsMenu > input, #allSettingsMenuSubmit{
    width: 100%;
    text-align: center;
    border: none;
    padding: 0 20%;
    font-size: 40px;
}
#allSettingsMenu > textarea, #allSettingsMenu > input{
    border-bottom: solid 1px #111;
}

#cvSizeRange, .fontPSize{
    z-index: 100;
    position: fixed;
    top: 400px;
    left: 10px;
    height: 30px;
    width: 30%;
    background: linear-gradient(to right, rgb(255, 242, 0), #a50);
    border-radius: 30px;
    -webkit-appearance: none;
    display: none;
}
#cvSizeRange::-webkit-slider-thumb, .fontPSize::-webkit-slider-thumb{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    -webkit-appearance: none;
}
.fontPSize{
    background: linear-gradient(to right, rgb(0, 93, 101), rgb(0, 255, 76));
    transform: rotate(180deg);
}

#loginText, #loginButton{
    z-index: 10;
    position: fixed;
    left: 20px;
    top: 0;
    transform: translateY(0%);
    padding: 50px;
    font-size: 120px;
    background: #fff;
    text-align: center;
    border-radius: 100px;
    font-weight: bold;
    transition: 0.1s;
}
#loginButton{
    cursor: pointer;
    background: #111;
    color: #fff;
    border-radius: 100px 0 0 100px;
    padding: 50px 100px;
    font-weight: normal;
}
#loginButton:hover{
    background: #a70;
}

#loginText{
    width: 26.5%;
}

#imageSizeLabel{
    z-index: 100;
    position: absolute;
    font-size: 100px;
    left: 70px;
    color: #fff;
}

#mainSettings{
    z-index: 150;
    position: fixed;
    top: 0;
    right: 0;
    background: #111;
    color: #fff;
    width: 10%;
    padding: 1%;
    display: none;
}
#colorSettings{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#colorSettings > div{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.secSetting{
    z-index: 100;
    position: absolute;
    right: 20px;
    top: 0;
    transform: translateY(-50%);
    font-weight: bold;
    user-select: none;
    text-align: center;
    cursor: pointer;
    display: none;
}

.changable{
    cursor: pointer;
    user-select: none;
}

#settings{
    z-index: 100;
    position: fixed;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
#settings > p, #editText{
    background: #111;
    color: #fff;
    cursor: pointer;
    padding: 2% 0;
    text-align: center;
    font-size: 130px;
}
#settings > p:hover{
    background: #333;
}


#mongoData{
    position: absolute;
    z-index: 500;
    top: 500px;
}
#mongoData > input{
    font-size: 100px;
    padding: 20px;
}
#newCVForm{
    position: absolute;
    z-index: 500;
    top: 1000px;
    width: 0;
}
#newCVForm > input{
    font-size: 100px;
    padding: 20px;
}