<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
        <link rel="stylesheet" href="../mutualStyle.css">
    </head>
    <body>
        <div id="mainSettings" class="mainSettings">
            <div id="colorSettings" class="mainSettings">
                <div id="#555" class="colorSettingDivs" style="background:#555"></div>
                <div id="#656565" class="colorSettingDivs" style="background:#656565"></div>
                <div id="#777" class="colorSettingDivs" style="background:#777"></div>
                <div id="#888" class="colorSettingDivs" style="background:#888"></div>
                <div id="#999" class="colorSettingDivs" style="background:#999"></div>
                <div id="#9c8d62" class="colorSettingDivs" style="background:#9c8d62"></div>
                <div id="#8a7c52" class="colorSettingDivs" style="background:#8a7c52"></div>
                <div id="#817553" class="colorSettingDivs" style="background:#817553"></div>
                <div id="#766a54" class="colorSettingDivs" style="background:#766a54"></div>
                <div id="#758c9d" class="colorSettingDivs" style="background:#758c9d"></div>
                <div id="#5a8cb2" class="colorSettingDivs" style="background:#5a8cb2"></div>
                <div id="#586a77" class="colorSettingDivs" style="background:#586a77"></div>
                <div id="#425e74" class="colorSettingDivs" style="background:#425e74"></div>
                <div id="#7d9e6e" class="colorSettingDivs" style="background:#7d9e6e"></div>
                <div id="#6c8d5d" class="colorSettingDivs" style="background:#6c8d5d"></div>
                <div id="#607358" class="colorSettingDivs" style="background:#607358"></div>
                <div id="#5b6455" class="colorSettingDivs" style="background:#5b6455"></div>
                <div id="#bb92b0" class="colorSettingDivs" style="background:#bb92b0"></div>
                <div id="#ac809f" class="colorSettingDivs" style="background:#ac809f"></div>
                <div id="#cd4bd1" class="colorSettingDivs" style="background:#cd4bd1"></div>
                <div id="#a472bb" class="colorSettingDivs" style="background:#a472bb"></div>
                <div id="#886895" class="colorSettingDivs" style="background:#886895"></div>
                <div id="#615670" class="colorSettingDivs" style="background:#615670"></div>
                <div id="#ff4c4c" class="colorSettingDivs" style="background:#ff4c4c"></div>
                <div id="#3e5cd2" class="colorSettingDivs" style="background:#3e5cd2"></div>
                <div id="#329325" class="colorSettingDivs" style="background:#329325"></div>
            </div>
        </div>

        <input type="hidden" value="{{imageFiles}}" id="allImageNames">

        <form action="/imageUpload" method="post" enctype="multipart/form-data" style="display: none">
            <input type="file" name="file" id="imageFile">
            <input type="text" name="fileName" id="imageFileName">
            <input type="hidden" name="redirect" value="design7">
            <button id="imageUploadSubmit"></button>
        </form>

        <div id="cvWrapper">
            <h6 id="imageSizeLabel"></h6>
            <button id="screenShott" onclick="screenShot()">Take a screenshot</button>
            <input type="range" id="cvSizeRange" min="1000" max="10000">
            <input type="range" id="pSizeRange" min="10" max="100" class="fontPSize">
            <div id="cv">
                <div id="settings">
                    <textarea id="editText"></textarea>
                    <p id="actionButton">Update</p>
                </div>
                <div id="header2LeftShadow"></div>
                <a id="mainSettingButton" class="secSetting" onclick="mainSettings.style.display='block'">...</a>
                <div id="allSettingsMenu">
                    <p id="changeImage" class="allSettingsMenuOption" onclick="imageFile.click()">Change image</p>
                    <p id="removeImage" class="allSettingsMenuOption">Remove image</p>
                    <p id="addEducation" class="allSettingsMenuOption" onclick="allSettingsMenuF('addEducationDate', 'addEducationTitle', 'addEducationText'); allSettingsMenuSubmit.style.display='block'">Add education</p>
                    <textarea id="addEducationDate" class="allSettingsMenuOption" placeholder="Education date"></textarea>
                    <textarea id="addEducationTitle" class="allSettingsMenuOption" placeholder="Education title"></textarea>
                    <textarea id="addEducationText" class="allSettingsMenuOption" placeholder="Education description"></textarea>
                    <p id="addSkill" class="allSettingsMenuOption" onclick="allSettingsMenuF('addSkillText', 'addSkillLevel'); allSettingsMenuSubmit.style.display='block'">Add skill</p>
                    <textarea id="addSkillText" placeholder="Skill title" class="allSettingsMenuOption"></textarea>
                    <input type="number" id="addSkillLevel" min="1" max="10" placeholder="Skill level" class="allSettingsMenuOption">
                    <p id="addExperience" class="allSettingsMenuOption" onclick="allSettingsMenuF('addExperienceDate', 'addExperienceTitle', 'addExperienceText', 'addExperienceType'); allSettingsMenuSubmit.style.display='block'">Add experience</p>
                    <textarea id="addExperienceDate" placeholder="Experience date" class="allSettingsMenuOption"></textarea>
                    <textarea id="addExperienceTitle" placeholder="Experience title" class="allSettingsMenuOption"></textarea>
                    <textarea id="addExperienceText" placeholder="Experience text" class="allSettingsMenuOption"></textarea>
                    <textarea id="addExperienceType" placeholder="Type of experience" class="allSettingsMenuOption"></textarea>
                    <p id="addHobby" class="allSettingsMenuOption" onclick="allSettingsMenuF('addhobbyName'); allSettingsMenuSubmit.style.display='block'">Add hobby</p>
                    <textarea id="addhobbyName" placeholder="Hobby name" class="allSettingsMenuOption"></textarea>
                    <p id="addLanguage" class="allSettingsMenuOption" onclick="allSettingsMenuF('addLanguageName'); allSettingsMenuSubmit.style.display='block'">Add language</p>
                    <textarea id="addLanguageName" placeholder="Language name" class="allSettingsMenuOption"></textarea>
                    <p id="addReference" class="allSettingsMenuOption" onclick="allSettingsMenuF('addReferenceName', 'addReferenceInfo', 'addReferenceEmail', 'addReferenceNumber'); allSettingsMenuSubmit.style.display='block'">Add reference</p>
                    <textarea id="addReferenceName" placeholder="Reference name" class="allSettingsMenuOption"></textarea>
                    <textarea id="addReferenceInfo" placeholder="Reference info" class="allSettingsMenuOption"></textarea>
                    <textarea id="addReferenceEmail" placeholder="Reference email" class="allSettingsMenuOption"></textarea>
                    <textarea id="addReferenceNumber" placeholder="Reference number" class="allSettingsMenuOption"></textarea>
                    <p id="addSocialMdia" class="allSettingsMenuOption" onclick="allSettingsMenuF('addSocialMdiaName', 'addSocialMdiaText'); allSettingsMenuSubmit.style.display='block'">Add social media</p>
                    <textarea id="addSocialMdiaName" placeholder="Social media title" class="allSettingsMenuOption"></textarea>
                    <textarea id="addSocialMdiaText" placeholder="Social media text" class="allSettingsMenuOption"></textarea>
                    <p id="allSettingsMenuSubmit">OK</p>
                    <p id="clearLocalStorage" class="allSettingsMenuOption">Clear</p>
                    <p id="hideSection" class="allSettingsMenuOption">Delete section</p>
                </div>

                <img src="/images/laserCut2.png" id="laserCut">

                <!-- --------------Header1--------------- -->
                <div id="header">
                    <!-- Header Left -->
                    <div id="headerLeft">
                        <h1 id="clientName" class="changable">Mustafa Altaie</h1>
                        <h2 id="clientTitle" class="changable">Software Developer</h2>
                    </div>
                    <!-- Header Right -->
                    <div id="headerRight">
                        <h3 id="profileTitle" class="changable">/// Profile</h3>
                    </div>
                </div>

                <!-- --------------Header2--------------- -->
                <div id="header2">
                    <!-- Header2 Left -->
                    <div id="header2Left">
                        <a id="imageSetting" class="secSetting" onclick="allSettingsMenuF('changeImage', 'removeImage')">...</a>
                        <div>
                            <img src="" id="clientPhoto">
                        </div>
                    </div>
                    <!-- Header2 right -->
                    <div id="header2Right">
                        <!-- ---- Profile ----- -->
                        <div id="profile">
                            <h4 id="clientProfile" class="changable"></h4>
                        </div>
                        <!-- ---- Contact ----- -->
                        <div id="contactMeSection">
                            <div id="contactSection1">
                               <div>
                                    <img src="/images/mobileIconWhite.png" id="mobileIcon" class="icons">
                                    <div class="contactInfoBlock">
                                        <h2 id="mobileWord" class="changable">Mobile</h2>
                                        <p id="clientNumber" class="changable">0721234567</p>
                                    </div>
                                </div>
                                <div>
                                    <img src="/images/emailIconWhite.png" id="emailIcon" class="icons">
                                    <div class="contactInfoBlock">
                                        <h2 id="emailWord" class="changable">Email</h2>
                                        <p id="clientEmail" class="changable">mustafaphoto@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                            <div id="contactSection2">
                                <img src="/images/addressIconWhite.png" id="addressIcon" class="icons">
                                <div class="contactInfoBlock">
                                    <h2 id="addressWord" class="changable">Address</h2>
                                    <p id="clientAddress" class="changable">Sweden / Katrineholm / Kerstinbodagatan 16</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <!-- --------------Middle Section--------------- -->
                <div id="middleSection">
                    <!-- Middle left -->
                    <div id="middleLeft">
                        <!-- Skills -->
                        <div id="skillsSection">
                            <a id="skillsSectionSetting" class="secSetting" onclick="allSettingsMenuF('addSkill', 'clearLocalStorage', 'hideSection')">...</a>
                            <h3 id="skillWord" class="changable">/// Skills</h3>
                            <div id="mainSkillWrapper"></div>
                        </div>
                        <!-- ---- Educations ----- -->
                        <div id="educationsSection">
                            <a id="educationsSectionSetting" class="secSetting" onclick="allSettingsMenuF('addEducation', 'clearLocalStorage', 'hideSection')">...</a>
                            <h3 id="educationWord" class="changable">Education</h3>
                        </div>
                        <!-- ---- Hooby ----- -->
                        <div id="hobbySectionMainSection">
                            <a id="hobbySectionMainSectionSetting" class="secSetting" onclick="allSettingsMenuF('addHobby', 'clearLocalStorage', 'hideSection')">...</a>
                            <div id="hobbySection">
                                <h3 id="hobbyWord" class="changable">/// Hobbies</h3>
                                <div id="mainHobbyWrapper"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Middle right -->
                    <div id="middleRight">
                        <!-- ---- Experience ----- -->
                        <div id="experiencesSection">
                            <img src="/images/experienceImageWhite.png" id="experienceImage">
                            <a id="experiencesSectionSetting" class="secSetting" onclick="allSettingsMenuF('addExperience', 'clearLocalStorage', 'hideSection')">...</a>
                            <h3 id="experienceWord" class="changable"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <style>
        *{
            margin: 0;
            padding: 0;
            font-family: 'Barlow Semi Condensed', sans-serif;
            /*font-family: 'Racing Sans One', cursive;*/
            font-weight: normal;
            outline: none;
        }
        body{
            background: #aaa;
        }
        #cvWrapper{
            display: flex;
            justify-content: center;
            padding: 200px 0 50px 0;
        }
        #cv{
            background: rgb(25, 25, 25);
            display: flex;
            flex-direction: column;
            overflow: hidden;
            user-select: none;
        }
        h1{
            font-family: 'Racing Sans One';
            white-space: nowrap;
            color: #000;
            opacity: 0.7;
        }
        h2{
            font-weight: bold;
        }
        h3{
            padding: 2% 0;
        }
        u{
            font-weight: bold;
            text-decoration: none;
        }
        #headerLeft > h2{
            opacity: 0.7;
        }
        #cvWrapper, #cv, #header2Left, #skillsSection, #educationsSection, #experiencesSection, #hobbySectionMainSection, .expDiv2{
            position: relative;
        }
        #cv:hover > a, #header2Left:hover > a, #skillsSection:hover > a, #educationsSection:hover > a, #experiencesSection:hover > a, #hobbySectionMainSection:hover > a{
            display: block;
        }
        #cv > a{
            color: #fff;
        }
        #laserCut{
            z-index: 10;
            position: absolute;
            left: 1.2%;
            bottom: 0;
            height: 100%;
            width: 6%;
            pointer-events: none;
            opacity: 0.2;
        }
        #header2LeftShadow{
            z-index: 50;
            position: absolute;
            background: #222;
            width: 7%;
            height: 25%;
            top: 0;
            left: 0;
        }
        /* --------------Header1--------------- */
        #header{
            background: #222;
            color: #fff;
            display: flex;
            align-items: flex-end;
            padding: 2% 0;
        }
        #headerLeft{
            width: 33%;
            padding-left: 7%;
        }
        #headerRight{
            width: 48%;
            padding-left: 6%;
        } 
        /* --------------Header2--------------- */
        #header2{
            color: #fff;
            display: flex;
        }
        #header2Right{
            width: 60%;
        }
        #profile{
            padding: 0 10% 5% 10%;
        }
        #contactMeSection{
            display: flex;
            flex-direction: column;
            padding: 3% 10% 0 10%;
        }
        #contactMeSection > div{
            color: #ccc;
        }
        #contactSection1{
            display: flex;
            gap: 10%;
        }
        #contactSection1 > div{
            display: flex;
            align-items: center;
            gap: 5%;
        }
        #contactSection2{
            display: flex;
            align-items: center;
            gap: 2%;
            padding-bottom: 7%;
            margin-top: 3%;
        }
        /* Client image */
        #header2Left{
            width: 33%;
            padding-left: 7%;
        }
        #header2Left > div{
            height: 90%;
        }
        #header2Left img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }
        /* --------------Middle Section--------------- */
        #middleSection{
            display: flex;
            color: #bbb;
        }
        /* Left */
        #middleLeft{
            width: 38%;
            color: #fff;
            padding: 0 7%;
        }
        /* Skills */
        #skillsSection{
            padding: 10% 10% 5% 10%;
        }
        #skillWord{
            margin-bottom: 3%;
        }
        #mainSkillWrapper{
            display: flex;
            flex-direction: column;
        }
        .skillMainBlock{
            width: 100%;
            margin: 2% 0;
        }
        .skillMainBlock > p{
            margin-bottom: 2%;
        }
        .clientSkillWrapper{
            width: 100%;
            background: rgba(255, 255, 255, 0.1);
        }
        .clientSkill{
            height: 100%;
            width: 50%;
            background: rgba(255, 255, 255, 0.4);
            cursor: pointer;
        }
        #educationsSection{
            padding: 5% 10%;
            display: flex;
            flex-direction: column;
        }
        #educationWord{
            margin-bottom: 3%;
            padding: 2%;
        }
        .educationMainBlock > h2{
            margin-top: 4%;
        }
        /* -- Hobbies -- */
        #hobbySection{
            padding: 5% 10% 50% 10%;
        }
        #hobbyWord{
            margin-bottom: 3%;
        }
        #mainHobbyWrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 5%;
        }
        #mainHobbyWrapper > div{
            display: flex;
            align-items: center;
            gap: 10%;
            margin: 2% 3%;
        }
        #mainHobbyWrapper > div > p{
            white-space: nowrap;
        }
        .hobbyPoint{
            background: rgba(0, 0, 0, 0.4);
        }
        /* Right */
        #middleRight{
            width: 55%;
            padding-right: 5%;
        }
        /* Experience */
        #experiencesSection{
            display: flex;
            flex-direction: column;
        }
        #experiencesSection > img{
            position: absolute;
            top: 55%;
            left: 10%;
            transform: translateY(-50%);
            opacity: 0.05;
            pointer-events: none;
        }
        #experiencesSection > h3{
            margin-bottom: 5%;
        }
        #experiencesSection > div{
            display: flex;
        }
        .experiencePoint{
            position: absolute;
            left: 0;
            transform: translateX(-57%);
            background: #555;
        }
        .expDiv1{
            width: 35%;
            padding: 0 2% 0 0;
        }
        .expDiv2{
            width: 60%;
            padding: 0 0 5% 5%;
        }
        .expDiv2 > p{
            margin: 2% 0;
        }
        .expDiv1 > p{
            margin: 4% 0;
        }

    </style>

    <script>

        if(window.matchMedia('(min-width: 1024px)').matches)
        document.body.style.zoom = "15%";
        else{
            document.body.style.zoom = "5%";
            cvSizeRange.max = 7000
        }

        function screenShot(){
            html2canvas(document.getElementById('cv'), {
                onrendered: function(canvas){
                    return Canvas2Image.saveAsJPEG(canvas);
                }
            });
            window.location.href = '/cvCreated/' + localStorage.clientName + '/' + new Date().toJSON() + '/design7';
        }

        // --------------- Get CV size from localStorage -------------//

        if(localStorage.cvSize != '' || localStorage.cvSize != undefined)
        cvSizeRange.value = localStorage.cvSize;
        else
        cvSizeRange.value = 3000;


        // --------------- Get P size from localStorage -------------//

        if(localStorage.pSize7 == '' || localStorage.pSize7 == undefined){
            var pSize = 45;
            pSizeRange.value = 45;
        }
        else{
            var pSize = localStorage.pSize7;
            pSizeRange.value = localStorage.pSize7;
        }


        // --------------- Change CV size via range -------------//

        document.getElementById('cvSizeRange').oninput = function(){
            ratio1 = cv.offsetWidth*cv.offsetHeight/27;
            ratio2 = Math.ceil(ratio1/100000);
            imageSizeLabel.innerHTML = ratio2/10;
            localStorage.cvSize = cvSizeRange.value;
            sizingAllCv(cvSizeRange.value);
        }

        document.getElementById('cvSizeRange').onchange = function(){
            window.location.reload();
        }
        document.getElementById('pSizeRange').onchange = function(){
            window.location.reload();
        }


        // --------------- Change P size via range -------------//

        document.getElementById('pSizeRange').oninput = function(){
            localStorage.pSize7 = pSizeRange.value;
            for(i = 0; i < document.querySelectorAll('p').length; i++)
            document.getElementsByTagName('p')[i].style.fontSize = cv.offsetWidth/pSizeRange.value + 'px';
        }

        document.getElementById('pSizeRange').onchange = function(){
            window.location.reload();
        }


        // --------------- CV properties function -------------//

        function sizingAllCv(n){
            cv.style.width = n + 'px';
            cv.style.height = n * 1.414285714285714 + 'px';
            document.getElementsByTagName('h1')[0].style.fontSize = cv.offsetWidth/28 + 'px';
            for(i = 0; i < document.querySelectorAll('h2').length; i++)
            document.getElementsByTagName('h2')[i].style.fontSize = cv.offsetWidth/45 + 'px';
            for(i = 0; i < document.querySelectorAll('h3').length; i++){
                document.getElementsByTagName('h3')[i].style.fontSize = cv.offsetWidth/40 + 'px';
                document.querySelectorAll('h3')[i].style.border = 'solid ' + cv.offsetWidth/cv.offsetWidth + 'px';
                document.querySelectorAll('h3')[i].style.borderLeft = 'none';
            }
            for(i = 0; i < document.querySelectorAll('p').length; i++)
            document.getElementsByTagName('p')[i].style.fontSize = cv.offsetWidth/pSize + 'px';
            document.getElementsByTagName('h4')[0].style.fontSize = cv.offsetWidth/48 + 'px';
            for(i = 0; i < document.querySelectorAll('u').length; i++)
                document.getElementsByTagName('u')[i].style.fontSize = cv.offsetWidth/45 + 'px';
            for(i = 0; i < document.querySelectorAll('a').length; i++)
                document.getElementsByTagName('a')[i].style.fontSize = cv.offsetWidth/24.5 + 'px';
            for(i = 0; i < document.querySelectorAll('.icons').length; i++){
                document.querySelectorAll('.icons')[i].style.width = cv.offsetWidth/25 + 'px';
                document.querySelectorAll('.icons')[i].style.height = cv.offsetWidth/25 + 'px';
            }
            clientPhoto.style.border = 'solid ' + cv.offsetWidth/cv.offsetWidth + 'px ';
            clientPhoto.style.borderBottom = 'none';
            for(i = 0; i < document.querySelectorAll('.clientSkillWrapper').length; i++)
                document.querySelectorAll('.clientSkillWrapper')[i].style.height = cv.offsetWidth/190 + 'px';
            if(document.querySelectorAll('.hobbyPoint').length > 0)
            for(i = 0; i < document.querySelectorAll('.hobbyPoint').length; i++){
                document.getElementsByClassName('hobbyPoint')[i].style.minWidth = cv.offsetWidth/98 + 'px';
                document.getElementsByClassName('hobbyPoint')[i].style.minHeight = cv.offsetWidth/98 + 'px';
            }
            if(document.querySelectorAll('.experiencePoint').length > 0)
            for(i = 0; i < document.querySelectorAll('.experiencePoint').length; i++){
                document.getElementsByClassName('experiencePoint')[i].style.width = cv.offsetWidth/150 + 'px';
                document.getElementsByClassName('experiencePoint')[i].style.height = cv.offsetWidth/38 + 'px';
            }
            if(document.querySelectorAll('.educationPoint').length > 0)
            for(i = 0; i < document.querySelectorAll('.educationPoint').length; i++){
                document.getElementsByClassName('educationPoint')[i].style.width = cv.offsetWidth/150 + 'px';
                document.getElementsByClassName('educationPoint')[i].style.height = cv.offsetWidth/38 + 'px';
            }
            if(document.getElementsByClassName('expDiv2').length > 0)
            for(i = 0; i < document.getElementsByClassName('expDiv2').length; i++)
                document.getElementsByClassName('expDiv2')[i].style.borderLeft = 'solid ' + cv.offsetWidth/700 + 'px ';
            if(document.getElementsByClassName('educDiv2').length > 0)
            for(i = 0; i < document.getElementsByClassName('educDiv2').length; i++)
                document.getElementsByClassName('educDiv2')[i].style.borderLeft = 'solid ' + cv.offsetWidth/700 + 'px ';
            for(i = 0; i < document.querySelectorAll('h6').length; i++)
                document.getElementsByTagName('h6')[i].style.fontSize = cv.offsetWidth/pSize + 'px';
            experiencesSection.style.borderBottom = 'solid ' + cv.offsetWidth/980 + 'px ';
            experienceImage.style.width = cv.offsetWidth/3 + 'px';
            document.getElementById('editText').style.fontSize = cv.offsetWidth/pSize + 'px';
            for(i = 0; i < document.getElementsByClassName('allSettingsMenuOption').length; i++)
            document.getElementsByClassName('allSettingsMenuOption')[i].style.fontSize = cv.offsetWidth/pSize + 'px';
        }
        setTimeout(function(){
            sizingAllCv(cvSizeRange.value);
        }, 0);



        // --------------- Get background color from localStorage -------------//
        if(localStorage.cvColor7 != '' || localStorage.cvColor7 != undefined){
            setTimeout(function(){
                backColor(localStorage.cvColor7);
            }, 10);
        }


        // --------------- Change background color -------------//
        colorSettings.addEventListener('click', function(evt){
            if(evt.target.tagName == 'DIV' && evt.target.parentNode.id == 'colorSettings'){
                backColor(evt.target.id);
            }
            localStorage.cvColor7 = evt.target.id;
        });

        function backColor(n){
            header.style.background = n;
            profile.style.background = n;
            header2LeftShadow.style.background = n;
            skillsSection.style.background = n;
            educationsSection.style.background = n;
            hobbySection.style.background = n;
            for(i = 0; i < document.getElementsByClassName('colorSettingDivs').length; i++)
            document.getElementsByClassName('colorSettingDivs')[i].style.transform = 'rotate(0deg)';
            document.getElementById(n).style.transform = 'rotate(10deg)';
            experienceWord.style.color = n;
            for(i = 0; i < experiencesSection.getElementsByTagName('u').length; i++)
            experiencesSection.getElementsByTagName('u')[i].style.color = n;
            for(i = 0; i < document.querySelectorAll('.experiencePoint').length; i++)
            document.getElementsByClassName('experiencePoint')[i].style.background = n;
            for(i = 0; i < contactMeSection.querySelectorAll('h2').length; i++)
            contactMeSection.getElementsByTagName('h2')[i].style.color = n;
            for(i = 0; i < document.getElementsByClassName('expDiv2').length; i++)
            document.getElementsByClassName('expDiv2')[i].style.borderLeft = 'solid ' + cv.offsetWidth/700 + 'px ' + n;
            experiencesSection.style.borderBottom = 'solid ' + cv.offsetWidth/980 + 'px ' + n;
            clientPhoto.style.border = 'solid ' + cv.offsetWidth/cv.offsetWidth + 'px ' + n;
        }




        //--------- Show edit settings ---------//

        var currentElement;
        var currentSection;

        document.addEventListener('click', function(evt){
            if(evt.target.id != 'mainSettingButton'
            && evt.target.parentNode.className != 'mainSettings'
            && evt.target.id != 'mainSettings')
            mainSettings.style.display = 'none';

            if(evt.target.className == 'changable' || evt.target.className == 'clientSkill'){
                editText.style.width = cv.offsetWidth/2 + 'px';
                editText.style.height = evt.target.offsetHeight + 'px';
                editText.value = evt.target.innerHTML;
                currentElement = evt.target.id;
                settings.style.display = 'flex';
            }

            if(evt.target.className == 'secSetting' && evt.target.id != 'mainSettingButton'){
                currentSection = evt.target.id;
                allSettingsMenuSubmit.style.display = 'none';
                allSettingsMenu.style.top = evt.target.parentNode.offsetTop + 'px';
                allSettingsMenu.style.left = evt.target.offsetLeft + 'px';
                allSettingsMenu.style.display = "flex";
            }
        });


        document.getElementById('editText').onkeydown = function(e){
            if(e.keyCode == 13)
            actionButton.click();
        }


        //--------- All settings options to view ---------//

        var allSettingSelectedOption;

        function allSettingsMenuF(n, n2, n3, n4){
            for(i = 0; i < allSettingsMenu.childElementCount-1; i++)
            document.getElementsByClassName('allSettingsMenuOption')[i].style.display = "none";
            allSettingSelectedOption = n;
            document.getElementById(n).style.display = "block";
            document.getElementById(n).focus();
            if(n2)
            document.getElementById(n2).style.display = "block";
            if(n3)
            document.getElementById(n3).style.display = "block";
            if(n4)
            document.getElementById(n4).style.display = "block";
        }



        //--------- All settings button clicked ---------//

        document.getElementById('allSettingsMenuSubmit').onclick = function(){
            // Add experience //
            if(allSettingSelectedOption == 'addExperienceDate'){
                if(addExperienceDate.value != '' && addExperienceTitle.value != '' && addExperienceText.value != '' && addExperienceType.value != ''){
                    addExperience(addExperienceTitle.value, addExperienceDate.value, addExperienceType.value, addExperienceText.value)
                    setLocalStorageExperience();
                    allSettingsMenu.style.display = 'none';
                }
            }
            // Add education //
            if(allSettingSelectedOption == 'addEducationDate'){
                if(addEducationDate.value != '' && addEducationTitle.value != '' && addEducationText.value != ''){
                    addEducation(addEducationTitle.value, addEducationDate.value, addEducationText.value);
                    setLocalStorageEducation();
                    allSettingsMenu.style.display = 'none';
                }
            }
            // Add skill //
            if(allSettingSelectedOption == 'addSkillText'){
                if(addSkillText.value != '' && addSkillLevel.value != ''){
                    addSkill(addSkillText.value, addSkillLevel.value);
                    setLocalStorageSkill();
                    allSettingsMenu.style.display = 'none';
                }
            }
            // Add hobby //
            if(allSettingSelectedOption == 'addhobbyName'){
                if(addhobbyName.value != ''){
                    addHobby(addhobbyName.value);
                    setLocalStorageHobby();
                    allSettingsMenu.style.display = 'none';
                }
            }

            window.location.reload();
        }



        //--------- Hyde forms mouse down ---------//
        document.addEventListener('mousedown', function(evt){
            if(evt.target.className != 'changable'
            && evt.target.parentNode.id != 'settings'){
                settings.style.display = 'none';
            }

            if(evt.target.className != 'secSetting'
            && evt.target.parentNode.id != 'allSettingsMenu')
            allSettingsMenu.style.display = "none";
        });



        //--------- Remove or update a record ---------//
        document.getElementById('actionButton').onclick = function(){
            if(editText.value == ''){
                document.getElementById(currentElement + 'Div').remove();
                setLocalStorageSections();
                settings.style.display = 'none';
            }
            document.getElementById(currentElement).innerHTML = editText.value;
            settings.style.display = 'none';
            // Profile localStorage
            localStorage.profileWord = profileTitle.innerHTML;
            localStorage.clientProfile = clientProfile.innerHTML;
            // Experience
            localStorage.experienceWord = experienceWord.innerHTML;
            // Education
            localStorage.educationWord = educationWord.innerHTML;
            // Skills
            localStorage.skillWord = skillWord.innerHTML;
            document.getElementById(currentElement).style.width = document.getElementById(currentElement).innerHTML*10 + '%';
            // Hobbies
            localStorage.hobbyWord = hobbyWord.innerHTML;
            setLocalStorageSections();
        }

        function setLocalStorageSections(){
            setLocalStorageHeader();
            setLocalStorageExperience();
            setLocalStorageEducation();
            setLocalStorageSkill();
            setLocalStorageHobby();
        }



        //---- Clear localStorage and hide sections -----//
        document.getElementById('hideSection').onclick = function(){
            var sectionName = currentSection.substr(0, currentSection.length-14) + 'Section';
            document.getElementById(sectionName).style.display = 'none';
            allSettingsMenu.style.display = 'none';
            if(sessionStorage.hiddenSection == undefined)
            sessionStorage.hiddenSection = '';
            sessionStorage.hiddenSection += sectionName + '|||';
        }

        if(sessionStorage.hiddenSection != '' && sessionStorage.hiddenSection != undefined)
        for(i = 0; i < sessionStorage.hiddenSection.split('|||').length-1; i++)
        document.getElementById(sessionStorage.hiddenSection.split('|||')[i]).style.display = 'none';

        document.getElementById('clearLocalStorage').onclick = function(){
            if(currentSection == 'experiencesSectionSetting')
            delete localStorage.experiences;
            if(currentSection == 'educationsSectionSetting')
            delete localStorage.myEducations;
            if(currentSection == 'skillsSectionSetting')
            delete localStorage.skills;
            if(currentSection == 'hobbySectionMainSectionSetting')
            delete localStorage.hobby;
            window.location.reload();
        }



        //---- Personal image section -----//
        if(localStorage.imageName != undefined)
        clientPhoto.src = '/personal images/' + localStorage.imageName + '.jpg';
        else{
            changeImage.innerHTML = 'Add image';
            clientPhoto.src = '/images/personalImageIcon.png';
        }

        var imageExt = '.jpg,.JPG,jpeg,JPEG,.bmp,.BMP,.gif,.GIF,.png,.PNG';

        var uploadPerm = 0;
        var rndNumber;

        document.getElementById('imageFile').onchange = function(){
            if(imageFile.value != ''){
                for(i = 0; i < imageExt.split(',').length; i++){
                    if(imageFile.value.substr(imageFile.value.length-4, imageFile.value.length) == imageExt.split(',')[i]){
                        uploadPerm = 1;
                        break;
                    }
                    else uploadPerm = 0;
                }
                if(uploadPerm == 0) alert('File is not image');
                else{
                    if(changeImage.innerHTML == 'Add image')
                    for(i = 0; i != -1; i++){   //-- Checking if the random number is already used --//
                        rndNumber = Math.ceil(Math.random()*9999 + 10000);
                        if(allImageNames.value.includes(rndNumber))
                        rndNumber = Math.ceil(Math.random()*9999 + 10000);
                        else{
                            localStorage.imageName = rndNumber;
                            imageFileName.value = rndNumber;
                            imageUploadSubmit.click();
                            break;
                        }
                    }
                    else{
                        imageFileName.value = localStorage.imageName;
                        imageUploadSubmit.click();
                    }
                }
            }
        }

        document.getElementById('removeImage').onclick = function(){
            window.location.href = '/deleteImage/' + localStorage.imageName + '/design7';
            delete localStorage.imageName;
        }



        //-------------------Contact------------------//
        if(localStorage.clientName == '' || localStorage.clientName == undefined)
        clientName.innerHTML = 'Full name';
        else
        clientName.innerHTML = localStorage.clientName;

        if(localStorage.clientTitle == '' || localStorage.clientTitle == undefined)
        clientTitle.innerHTML = 'Title or information';
        else
        clientTitle.innerHTML = localStorage.clientTitle;

        if(localStorage.mobileWord == '' || localStorage.mobileWord == undefined)
        mobileWord.innerHTML = 'Mobile';
        else
        mobileWord.innerHTML = localStorage.mobileWord;

        if(localStorage.clientNumber == '' || localStorage.clientNumber == undefined)
        clientNumber.innerHTML = '0721234567';
        else
        clientNumber.innerHTML = localStorage.clientNumber;

        if(localStorage.emailWord == '' || localStorage.emailWord == undefined)
        emailWord.innerHTML = 'Email';
        else
        emailWord.innerHTML = localStorage.emailWord;

        if(localStorage.clientEmail == '' || localStorage.clientEmail == undefined)
        clientEmail.innerHTML = 'Email address';
        else
        clientEmail.innerHTML = localStorage.clientEmail;

        if(localStorage.addressWord == '' || localStorage.addressWord == undefined)
        addressWord.innerHTML = 'Address';
        else
        addressWord.innerHTML = localStorage.addressWord;

        if(localStorage.clientAddress == '' || localStorage.clientAddress == undefined)
        clientAddress.innerHTML = 'Address information';
        else
        clientAddress.innerHTML = localStorage.clientAddress;

        function setLocalStorageHeader(){
            localStorage.clientName = clientName.innerHTML;
            localStorage.clientTitle = clientTitle.innerHTML;
            localStorage.mobileWord = mobileWord.innerHTML;
            localStorage.clientNumber = clientNumber.innerHTML;
            localStorage.emailWord = emailWord.innerHTML;
            localStorage.clientEmail = clientEmail.innerHTML;
            localStorage.addressWord = addressWord.innerHTML;
            localStorage.clientAddress = clientAddress.innerHTML;
        }



        //----- Profile ----//
        if(localStorage.profileWord == '' || localStorage.profileWord == undefined)
        profileTitle.innerHTML = '/// Profile';
        else
        profileTitle.innerHTML = localStorage.profileWord;

        if(localStorage.clientProfile == '' || localStorage.clientProfile == undefined)
        clientProfile.innerHTML = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptate ducimus est illum iusto animi vitae magnam, ea soluta quisquam, non praesentium amet perferendis, qui nulla optio! Quis, voluptate hic! Lorem ipsum dolor sit amet consectetur adipisicing elit.';
        else
        clientProfile.innerHTML = localStorage.clientProfile;



        //----- Skills ----//
        if(localStorage.skillWord == '' || localStorage.skillWord == undefined)
        skillWord.innerHTML = 'SKILLS AND KNOWLEDGE';
        else
        skillWord.innerHTML = localStorage.skillWord;

        if(localStorage.skills == '' || localStorage.skills == undefined){
            addSkill('Skill title1', 5);
            addSkill('Skill title2', 5);
            addSkill('Skill title3', 5);
        }
        else
        for(i = 0; i < localStorage.skills.split('***').length-1; i++)
        addSkill(localStorage.skills.split('***')[i].split('|||')[0], localStorage.skills.split('***')[i].split('|||')[1]);

        function addSkill(title, level){
            var skillMainBlock = document.createElement('div');
            skillMainBlock.className = 'skillMainBlock';

            var skillTitle = document.createElement('p');
            skillTitle.id = parseInt(Math.ceil(Math.random()*9999)+10000) + 'Title';
            skillTitle.className = 'changable';
            skillTitle.innerHTML = title;

            var clientSkillWrapper = document.createElement('div');
            clientSkillWrapper.className = 'clientSkillWrapper';

            var clientSkill = document.createElement('div');
            clientSkill.id = parseInt(Math.ceil(Math.random()*9999)+10000) + 'Skill';
            clientSkill.className = 'clientSkill';
            clientSkill.innerHTML = level;
            clientSkill.style.width = level*10 + '%';

            skillMainBlock.id = skillTitle.id + 'Div';

            clientSkillWrapper.appendChild(clientSkill);

            skillMainBlock.appendChild(skillTitle);
            skillMainBlock.appendChild(clientSkillWrapper);

            mainSkillWrapper.appendChild(skillMainBlock);
        }

        function setLocalStorageSkill(){
            localStorage.skills = '';
            var skl = document.getElementsByClassName('skillMainBlock');
            for(i = 0; i < skl.length; i++)
            localStorage.skills += skl[i].getElementsByTagName('p')[0].innerHTML + '|||' + skl[i].getElementsByClassName('clientSkill')[0].innerHTML + '|||' + '***';
        }
        setLocalStorageSkill();



        // --------------- Hobby section -------------//
        if(localStorage.hobbyWord == '' || localStorage.hobbyWord == undefined)
        hobbyWord.innerHTML = 'My hobbies';
        else
        hobbyWord.innerHTML = localStorage.hobbyWord;

        if(localStorage.hobby == '' || localStorage.hobby == undefined){
            addHobby('Hobby1');
            addHobby('Hobby2');
            addHobby('Hobby3');
        }
        else
        for(i = 0; i < localStorage.hobby.split('|||').length-1; i++)
        addHobby(localStorage.hobby.split('|||')[i]);

        function addHobby(title){
            var hobby = document.createElement('div');
            hobby.id = 'hobby' + parseInt(Math.ceil(Math.random()*9999)+10000);
            hobby.className = 'hobby';

            var hobbyPoint = document.createElement('div');
            hobbyPoint.className = 'hobbyPoint';

            var hobbyTitle = document.createElement('p');
            hobbyTitle.id = hobby.id + 'Title';
            hobbyTitle.className = 'changable';
            hobbyTitle.innerHTML = title;

            hobby.id = hobbyTitle.id + 'Div';

            hobby.appendChild(hobbyPoint);
            hobby.appendChild(hobbyTitle);

            mainHobbyWrapper.appendChild(hobby);
        }

        function setLocalStorageHobby(){
            localStorage.hobby = '';
            var hby = document.getElementsByClassName('hobby');
            for(i = 0; i < hby.length; i++)
            localStorage.hobby += hby[i].getElementsByTagName('p')[0].innerHTML + '|||';
        }
        setLocalStorageHobby();




        // --------------- Education section -------------//
        if(localStorage.educationWord == '' || localStorage.educationWord == undefined)
        educationWord.innerHTML = 'EDUCATION';
        else
        educationWord.innerHTML = localStorage.educationWord;

        if(localStorage.myEducations == '' || localStorage.myEducations == undefined)
        addEducation('Education title', '2022/02/22', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.');
        else
        for(i = 0; i < localStorage.myEducations.split('***').length-1; i++)
        addEducation(localStorage.myEducations.split('***')[i].split('|||')[0], localStorage.myEducations.split('***')[i].split('|||')[1], localStorage.myEducations.split('***')[i].split('|||')[2]);

        function addEducation(title, date, text){
            var education = document.createElement('div');
            education.id = 'education' + parseInt(Math.ceil(Math.random()*9999)+10000);
            education.className = 'educationMainBlock';

            var educationTitle = document.createElement('h2');
            educationTitle.id = education.id + 'educationTitle';
            educationTitle.className = 'changable';
            educationTitle.innerHTML = title;

            var educationDate = document.createElement('p');
            educationDate.id = education.id + 'educationDate';
            educationDate.className = 'changable';
            educationDate.innerHTML = date;

            var educationText = document.createElement('p');
            educationText.id = education.id + 'educationText';
            educationText.className = 'changable';
            educationText.innerHTML = text;

            education.id = educationTitle.id + 'Div';

            education.appendChild(educationTitle);
            education.appendChild(educationDate);
            education.appendChild(educationText);

            educationsSection.appendChild(education);
        }

        function setLocalStorageEducation(){
            localStorage.myEducations = '';
            var edu = document.getElementsByClassName('educationMainBlock');
            for(i = 0; i < edu.length; i++)
            localStorage.myEducations += edu[i].getElementsByTagName('h2')[0].innerHTML + '|||' + edu[i].getElementsByTagName('p')[0].innerHTML + '|||' + edu[i].getElementsByTagName('p')[1].innerHTML + '|||' + '***';
        }



        //----- Experience ----//
        if(localStorage.experienceWord == '' || localStorage.experienceWord == undefined)
        experienceWord.innerHTML = 'WORK EXPERIENCE';
        else
        experienceWord.innerHTML = localStorage.experienceWord;

        if(localStorage.experiences == '' || localStorage.experiences == undefined){
            addExperience('Experience title', 'Experience date', 'Type of the experience', 'Lorem ipsum dolor sit amet con sec tetur adipis icing elit. Rat ione volu ptas et disti nctio numq uam quidem placeat');
            addExperience('Experience title', 'Experience date', 'Type of the experience', 'Lorem ipsum dolor sit amet con sec tetur adipis icing elit. Rat ione volu ptas et disti nctio numq uam quidem placeat');
            addExperience('Experience title', 'Experience date', 'Type of the experience', 'Lorem ipsum dolor sit amet con sec tetur adipis icing elit. Rat ione volu ptas et disti nctio numq uam quidem placeat');
        }
        else
        for(i = 0; i < localStorage.experiences.split('***').length-1; i++)
        addExperience(localStorage.experiences.split('***')[i].split('|||')[0], localStorage.experiences.split('***')[i].split('|||')[1], localStorage.experiences.split('***')[i].split('|||')[2], localStorage.experiences.split('***')[i].split('|||')[3]);

        function addExperience(title, date, type, text){
            var experience = document.createElement('div');
            experience.id = 'experience' + parseInt(Math.ceil(Math.random()*9999)+10000);
            experience.className = 'experience';

            var expDiv1 = document.createElement('div');
            expDiv1.className = 'expDiv1';

            var jobTitle = document.createElement('u');
            jobTitle.id = experience.id + 'JobTitle';
            jobTitle.className = 'changable';
            jobTitle.innerHTML = title;

            var jobDate = document.createElement('p');
            jobDate.id = experience.id + 'JobDate';
            jobDate.className = 'changable';
            jobDate.innerHTML = date;

            expDiv1.appendChild(jobTitle);
            expDiv1.appendChild(jobDate);

            var expDiv2 = document.createElement('div');
            expDiv2.className = 'expDiv2';

            var point = document.createElement('div');
            point.className = 'experiencePoint';
            
            var jobType = document.createElement('u');
            jobType.id = experience.id + 'JobType';
            jobType.className = 'changable';
            jobType.innerHTML = type;

            var jobText = document.createElement('p');
            jobText.id = experience.id + 'JobText';
            jobText.className = 'changable';
            jobText.innerHTML = text;

            experience.id = jobTitle.id + 'Div';

            expDiv2.appendChild(point);
            expDiv2.appendChild(jobType);
            expDiv2.appendChild(jobText);

            experience.appendChild(expDiv1);
            experience.appendChild(expDiv2);

            experiencesSection.appendChild(experience);
        }

        function setLocalStorageExperience(){
            localStorage.experiences = '';
            var exp = document.getElementsByClassName('experience');
            for(i = 0; i < exp.length; i++)
            localStorage.experiences += exp[i].getElementsByTagName('u')[0].innerHTML + '|||' + exp[i].getElementsByTagName('p')[0].innerHTML + '|||' + exp[i].getElementsByTagName('u')[1].innerHTML + '|||' + exp[i].getElementsByTagName('p')[1].innerHTML + '|||' + '***';
        }
        setLocalStorageExperience();

    </script>
</html>