<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
        <link rel="stylesheet" href="../mutualStyle.css">
    </head>
    <body>
        <div id="navButtonMobile">|||</div>
        <div id="nav">
            <img src="/images/logo.png" id="home">
            <img src="/images/personalImageIcon.png" id="login">
            <h9 id="saveCv" style="color: #fc0">Save CV</h9>
            <h9 id="changeText">Change text size</h9>
            <h9 id="changeCvSize">Change CV size</h9>
            <h9 id="updateAllInfo" style="display: none">Update and logout</h9>
            <h9 id="clearAll">Clear all</h9>
            <img src="/images/deleteUser.png" id="deleteUser" style="display: none">
        </div>
        <div id="mongoData">
            {{#each dataDBList}}
            <input type="hidden" value="{{this._id}}" id="_IdDB">
            <input type="hidden" value="{{this.clientName}}" id="clientNameDB">
            <input type="hidden" value="{{this.clientEmail}}" id="clientEmailDB">
            <input type="hidden" value="{{this.clientNumber}}" id="clientNumberDB">
            <input type="hidden" value="{{this.clientTitle}}" id="clientTitleDB">
            <input type="hidden" value="{{this.clientAddress}}" id="clientAddressDB">
            <input type="hidden" value="{{this.clientProfile}}" id="clientProfileDB">
            <input type="hidden" value="{{this.mySocialMediaTitle}}" id="mySocialMediaTitleDB">
            <input type="hidden" value="{{this.mySocialMediaText}}" id="mySocialMediaTextDB">
            <input type="hidden" value="{{this.referenceTitle}}" id="referenceTitleDB">
            <input type="hidden" value="{{this.languageTitle}}" id="languageTitleDB">
            <input type="hidden" value="{{this.experiences}}" id="experiencesDB">
            <input type="hidden" value="{{this.educations}}" id="educationsDB">
            <input type="hidden" value="{{this.skills}}" id="skillsDB">
            <input type="hidden" value="{{this.hobby}}" id="hobbyDB">
            {{/each}}
        </div>
        <form action="/newCV" method="post" id="newCVForm">
            <input type="hidden" name="_id" id="_idText">
            <input type="hidden" name="clientName" id="clientNameText">
            <input type="hidden" name="clientEmail" id="clientEmailText">
            <input type="hidden" name="clientNumber" id="clientNumberText">
            <input type="hidden" name="clientTitle" id="clientTitleText">
            <input type="hidden" name="clientAddress" id="clientAddressText">
            <input type="hidden" name="clientProfile" id="clientProfileText">
            <input type="hidden" name="mySocialMediaTitle" id="mySocialMediaTitleText">
            <input type="hidden" name="mySocialMediaText" id="mySocialMediaTextText">
            <input type="hidden" name="referenceTitle" id="referenceTitleText">
            <input type="hidden" name="languageTitle" id="languageTitleText">
            <input type="hidden" name="experiences" id="experiencesText">
            <input type="hidden" name="educations" id="educationsText">
            <input type="hidden" name="skills" id="skillsText">
            <input type="hidden" name="hobby" id="hobbyText">
            <input type="hidden" name="oldEmail" id="oldEmail">
            <input type="hidden" name="designNumber" value="design1" id="cvName">
            <button id="newCVSubmit">OK</button>
        </form>
        <div id="mainSettings" class="mainSettings">
            <div id="colorSettings" class="mainSettings">
                <div id="#aaa" class="colorSettingDivs" style="background:#aaa"></div>
                <div id="#999" class="colorSettingDivs" style="background:#999"></div>
                <div id="#777" class="colorSettingDivs" style="background:#777"></div>
                <div id="#9e9a6b" class="colorSettingDivs" style="background:#9e9a6b"></div>
                <div id="#ada445" class="colorSettingDivs" style="background:#ada445"></div>
                <div id="#999248" class="colorSettingDivs" style="background:#999248"></div>
                <div id="#d4ad52" class="colorSettingDivs" style="background:#d4ad52"></div>
                <div id="#c1942c" class="colorSettingDivs" style="background:#c1942c"></div>
                <div id="#b18212" class="colorSettingDivs" style="background:#b18212"></div>
                <div id="#aa8734" class="colorSettingDivs" style="background:#aa8734"></div>
                <div id="#a78f58" class="colorSettingDivs" style="background:#a78f58"></div>
                <div id="#8db68c" class="colorSettingDivs" style="background:#8db68c"></div>
                <div id="#6d8a6c" class="colorSettingDivs" style="background:#6d8a6c"></div>
                <div id="#69a767" class="colorSettingDivs" style="background:#69a767"></div>
                <div id="#5b9559" class="colorSettingDivs" style="background:#5b9559"></div>
                <div id="#6caed4" class="colorSettingDivs" style="background:#6caed4"></div>
                <div id="#22b7d9" class="colorSettingDivs" style="background:#22b7d9"></div>
                <div id="#09b" class="colorSettingDivs" style="background:#09b"></div>
                <div id="#4897fe" class="colorSettingDivs" style="background:#4897fe"></div>
                <div id="#a797de" class="colorSettingDivs" style="background:#a797de"></div>
                <div id="#8873cd" class="colorSettingDivs" style="background:#8873cd"></div>
                <div id="#af88c1" class="colorSettingDivs" style="background:#af88c1"></div>
                <div id="#b479cd" class="colorSettingDivs" style="background:#b479cd"></div>
                <div id="#a153c3" class="colorSettingDivs" style="background:#a153c3"></div>
                <div id="#ffa0b9" class="colorSettingDivs" style="background:#ffa0b9"></div>
                <div id="#ff7197" class="colorSettingDivs" style="background:#ff7197"></div>
                <div id="#f94474" class="colorSettingDivs" style="background:#f94474"></div>
            </div>
        </div>
        <input type="" value="{{imageFiles}}" id="allImageNames">

        <form action="/imageUpload" method="post" enctype="multipart/form-data" style="display: none">
            <input type="file" name="file" id="imageFile">
            <input type="text" name="fileName" id="imageFileName">
            <input type="hidden" name="redirect" value="design1">
            <button id="imageUploadSubmit"></button>
        </form>

        <div id="cvWrapper">
            <input id="loginText" placeholder="Email Address">
            <button id="loginButton">Get data</button>

            <input type="range" id="cvSizeRange" min="1000" max="10000">
            <input type="range" id="pSizeRange" min="10" max="100" class="fontPSize">
            <div id="cv">
                <div id="settings">
                    <textarea id="editText"></textarea>
                    <p id="actionButton">Update</p>
                </div>
                <a id="mainSettingButton" class="secSetting" onclick="mainSettings.style.display='block'">...</a>
                <div id="allSettingsMenu">
                    <p id="changeImage" class="allSettingsMenuOption">Change image</p>
                    <p id="removeImage" class="allSettingsMenuOption">Remove image</p>
                    <p id="addEducation" class="allSettingsMenuOption" onclick="allSettingsMenuF('addEducationDate', 'addEducationTitle', 'addEducationText', 'addEducationType'); allSettingsMenuSubmit.style.display='block'">Add education</p>
                    <textarea id="addEducationDate" class="allSettingsMenuOption" placeholder="Education data"></textarea>
                    <textarea id="addEducationTitle" class="allSettingsMenuOption" placeholder="Education title"></textarea>
                    <textarea id="addEducationText" class="allSettingsMenuOption" placeholder="Education description"></textarea>
                    <textarea id="addEducationType" class="allSettingsMenuOption" placeholder="Education type"></textarea>
                    <p id="addSkill" class="allSettingsMenuOption" onclick="allSettingsMenuF('addSkillText', 'addSkillLevel'); allSettingsMenuSubmit.style.display='block'">Add skill</p>
                    <textarea id="addSkillText" placeholder="Skill title" class="allSettingsMenuOption"></textarea>
                    <input type="number" id="addSkillLevel" min="1" max="10" placeholder="Skill level" class="allSettingsMenuOption">
                    <p id="addExperience" class="allSettingsMenuOption" onclick="allSettingsMenuF('addExperienceDate', 'addExperienceTitle', 'addExperienceText', 'addExperienceType'); allSettingsMenuSubmit.style.display='block'">Add experience</p>
                    <textarea id="addExperienceDate" placeholder="Experience date" class="allSettingsMenuOption"></textarea>
                    <textarea id="addExperienceTitle" placeholder="Experience title" class="allSettingsMenuOption"></textarea>
                    <textarea id="addExperienceText" placeholder="Experience text" class="allSettingsMenuOption"></textarea>
                    <textarea id="addExperienceType" placeholder="Type of experience" class="allSettingsMenuOption"></textarea>
                    <p id="addHobby" class="allSettingsMenuOption" onclick="allSettingsMenuF('addhobbyName'); allSettingsMenuSubmit.style.display='block'">Add hobby</p>
                    <textarea id="addhobbyName" placeholder="Hobby name" class="allSettingsMenuOption"></textarea>
                    <p id="addLanguage" class="allSettingsMenuOption" onclick="allSettingsMenuF('addLanguageName'); allSettingsMenuSubmit.style.display='block'">Add language</p>
                    <textarea id="addLanguageName" placeholder="Language name" class="allSettingsMenuOption"></textarea>
                    <p id="allSettingsMenuSubmit">OK</p>
                    <p id="clearLocalStorage" class="allSettingsMenuOption">Clear</p>
                    <p id="hideSection" class="allSettingsMenuOption">Delete section</p>
                </div>
                <!--------------------------left side Starts-------------------------->
                <div id="leftSide">
                    <div id="imageWrapper">
                        <img src="" id="clientPhoto">
                        <a id="imageSetting" class="secSetting" onclick="allSettingsMenuF('changeImage', 'removeImage')">...</a>
                    </div>

                    <!--Contact Info-->
                    <div id="contactSection">
                        <img src="/images/mobileIcon.png" class="bigImage">
                        <h4 id="contactTitle" class="changable">Contact</h4>
                        <div>
                            <img src="/images/mobileIconWhite.png" class="contactIcon">
                            <p id="clientNumber" class="changable"></p>
                        </div>
                        <div>
                            <img src="/images/emailIconWhite.png" class="contactIcon">
                            <p id="clientEmail" class="changable"></p>
                        </div>
                        <div>
                            <img src="/images/addressIconWhite.png" class="contactIcon">
                            <p id="clientAddress" class="changable"></p>
                        </div>
                    </div>

                    <!--Skills-->
                    <div id="skillsSection">
                        <a id="skillsSectionSetting" class="secSetting" onclick="allSettingsMenuF('addSkill', 'clearLocalStorage', 'hideSection')">...</a>
                        <h4 id="skillsTitle" class="changable"></h4>
                    </div>

                    <!-- Languages -->
                    <div id="languageSection">
                        <a id="languageSectionSetting" class="secSetting" onclick="allSettingsMenuF('addLanguage', 'clearLocalStorage', 'hideSection')">...</a>
                        <h4 id="languageWord" class="changable"></h4>
                    </div>
                </div>
                <!--------------------------left side Ends-------------------------->


                <!--------------------------Floating Text-------------------------->
                <div id="floatText">
                    <p id="clientProfile" class="changable"></p>
                </div>

                <!--------------------------Right side Starts-------------------------->
                <div id="rightSide">
                    <div id="rightSideHeader">
                        <h1 id="clientName" class="changable">Mustafa Altaie</h1>
                        <h5 id="clientTitle" class="changable">Software Developer</h5>
                        <h3 id="profileWord" class="changable"></h3>
                    </div>
                    <div id="rightSideFooter">
                        <!-- ---- Experience ----- -->
                        <div id="experiencesSection">
                            <a id="experiencesSectionSetting" class="secSetting" onclick="allSettingsMenuF('addExperience', 'clearLocalStorage', 'hideSection')">...</a>
                            <h3 id="experienceWord" class="changable"></h3>
                        </div>
                        <!-- ---- Education ----- -->
                        <div id="educationsSection">
                            <a id="educationsSectionSetting" class="secSetting" onclick="allSettingsMenuF('addEducation', 'clearLocalStorage', 'hideSection')">...</a>
                            <h3 id="educationWord" class="changable"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <style>
        #cv{
            position: relative;
            background: #eee;
            display: flex;
        }
        #cv > a, #rightSide a{
            color: #000;
            top: 0;
        }
        .secSetting{
            transform: translateY(0%);
        }
        #leftSide{
            position: relative;
            display: flex;
            flex-direction: column;
            width: 35%;
            background: #252525;
            color: #fff;
        }
        #imageWrapper{
            position: relative;
            width: 100%;
            height: 32%;
        }
        #imageWrapper > img{
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: 0.2s;
        }
        #imageWrapper > a{
            z-index: 100;
            top: 0;
        }
        #cv:hover > a, #imageWrapper:hover > a{
            display: block;
        }
        b{
            font-weight: bold;
        }
        .bigImage{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
            opacity: 0.05;
        }
        .secSetting{
            top: 15%;
        }

        /* ----------- Contact Section------------- */

        #contactSection{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 10%;
        }
        #contactSection > h4{
            padding: 2% 10%;
        }
        #contactSection > img{
            top: 70%;
        }
        #contactSection > div{
            display: flex;
            align-items: center;
            gap: 2%;
            padding: 0 10%;
            margin-top: 4%;
        }

        /* ----------- Skills Section------------- */

        #skillsSection{
            position: relative;
        }
        #skillsSection:hover > a{
            display: block;
        }
        #skillsSection > h4{
            margin: 10% 0 3% 0;
            padding: 2% 5% 2% 10%;
        }
        #skillsSection > div{
            padding: 2% 10% 5px 10%;
        }
        #skillsSection > div > p{
            margin: 1% 0;
        }
        #skillsSection > div > div{
            width: 100%;
            background: rgba(255, 255, 255, 0.1);
            pointer-events: none;
        }
        #skillsSection > div > div > div{
            height: 100%;
            pointer-events: all;
        }

        /* languages */
        #languageSection{
            position: relative;
            padding: 10% 5%;
            display: flex;
            flex-wrap: wrap;
        }
        #languageSection:hover > a{
            display: block;
        }
        #languageSection > div{
            margin: 2% 5%;
        }
        #languageSection > h4{
            width: 100%;
            padding: 2% 5%;
            margin-bottom: 3%;
        }
        #languageSection > div > div{
            display: flex;
            align-items: center;
            gap: 10%;
        }

        /* ----------- Floating colored Rectangle------------- */

        #floatText{
            z-index: 90;
            position: absolute;
            top: 18%;
            right: 0;
            width: 55%;
            color: #fff;
            padding: 3% 5%;
            display: flex;
            align-items: center;
        }


        /* ----------- Right Side------------- */

        #rightSide{
            position: relative;
            width: 65%;
        }
        #rightSide h4{
            font-weight: bold;
        }
        #rightSideHeader{
            height: 31%;
            padding-left: 5%;
            transform: translateY(10%);
        }
        #rightSideHeader > h1{
            font-family: 'Racing Sans One', cursive;
        }
        #rightSideHeader > h5{
            background: #252525;
            color: rgb(255, 255, 255);
            padding: 1% 0 1% 3%;
            margin: 1.5% 0 2.5% 0;
        }
        #rightSideHeader > p{
            font-weight: bold;
        }

        #rightSideFooter{
            height: 70%;
        }
        #rightSideFooter > div{
            padding: 2% 5%;
        }
        #rightSideFooter h4, #rightSideFooter p{
            color: #000;
        }
        #rightSideFooter h4{
            margin-bottom: 3%;
            padding: 1% 0;
        }

        /* -- Experience and Education -- */
        #experiencesSection, #educationsSection{
            position: relative;
            padding: 4% 5%;
        }
        #experiencesSection:hover > a, #educationsSection:hover > a{
            display: block;
        }
        #experienceWord, #educationWord{
            margin-bottom: 3%;
        }
        .experiencePoint, .educationPoint{
            position: absolute;
            left: -1px;
            transform: translateX(-57%);
            background: #555;
        }
        #experiencesSection > div, #educationsSection > div{
            display: flex;
        }
        .expDiv1, .educDiv1{
            width: 22%;
            padding-right: 3%;
        }
        .expDiv2, .educDiv2{
            position: relative;
            width: 72%;
            padding-left: 3%;
            padding-bottom: 3%;
        }
    </style>

    <script src="/cvScript.js"></script>
    <script src="/mutualScript.js"></script>

    <script>
        // --------------- Get P size from localStorage -------------//
        
        if(localStorage.pSize1 == '' || localStorage.pSize1 == undefined){
            var ppSize = 45;
            pSizeRange.value = 45;
        }
        else{
            var ppSize = localStorage.pSize1;
            pSizeRange.value = localStorage.pSize1;
        }


        // --------------- Change CV size via range -------------//

        document.getElementById('cvSizeRange').oninput = function(){
            sizingAllCv(cvSizeRange.value);
            localStorage.cvSize = cvSizeRange.value;
        }

        document.getElementById('cvSizeRange').onchange = function(){
            window.location.reload();
        }
        document.getElementById('pSizeRange').onchange = function(){
            window.location.reload();
        }


        // --------------- Change P size via range -------------//

        document.getElementById('pSizeRange').oninput = function(){
            localStorage.pSize1 = pSizeRange.value;
            for(i = 0; i < document.querySelectorAll('p').length; i++)
            document.getElementsByTagName('p')[i].style.fontSize = cv.offsetWidth/pSizeRange.value + 'px';
        }


        // --------------- CV properties function -------------//

        function sizingAllCv(n){
            cv.style.width = n + 'px';
            cv.style.height = n * 1.414285714285714 + 'px';
            for(i = 0; i < document.querySelectorAll('a').length; i++)
            document.getElementsByTagName('a')[i].style.fontSize = cv.offsetWidth/30 + 'px';
            for(i = 0; i < document.querySelectorAll('p').length; i++)
            document.getElementsByTagName('p')[i].style.fontSize = cv.offsetWidth/ppSize + 'px';
            for(i = 0; i < document.querySelectorAll('h4').length; i++){
                document.getElementsByTagName('h4')[i].style.fontSize = cv.offsetWidth/38 + 'px';
                document.getElementsByTagName('h4')[i].style.borderBottom = 'solid ' + cv.offsetWidth/500 + 'px';
            }
            for(i = 0; i < document.querySelectorAll('b').length; i++)
            document.getElementsByTagName('b')[i].style.fontSize = cv.offsetWidth/50 + 'px';
            for(i = 0; i < document.querySelectorAll('h1').length; i++)
            document.getElementsByTagName('h1')[i].style.fontSize = cv.offsetWidth/14.7 + 'px';
            for(i = 0; i < document.querySelectorAll('h3').length; i++)
            document.getElementsByTagName('h3')[i].style.fontSize = cv.offsetWidth/30.625 + 'px';
            for(i = 0; i < document.querySelectorAll('h5').length; i++)
            document.getElementsByTagName('h5')[i].style.fontSize = cv.offsetWidth/29.4 + 'px';
            for(i = 0; i < contactSection.querySelectorAll('.contactIcon').length; i++){
                contactSection.getElementsByClassName('contactIcon')[i].style.width = cv.offsetWidth/29.4 + 'px';
                contactSection.getElementsByClassName('contactIcon')[i].style.height = cv.offsetWidth/29.4 + 'px';
            }
            contactSection.getElementsByClassName('bigImage')[0].style.width = cv.offsetWidth/8 + 'px';
            experiencesSection.style.borderBottom = 'solid ' + cv.offsetWidth/980 + 'px';
            for(i = 0; i < document.querySelectorAll('.experiencePoint').length; i++){
                document.getElementsByClassName('experiencePoint')[i].style.width = cv.offsetWidth/150 + 'px';
                document.getElementsByClassName('experiencePoint')[i].style.height = cv.offsetWidth/38 + 'px';
            }
            for(i = 0; i < document.querySelectorAll('.educationPoint').length; i++){
                document.getElementsByClassName('educationPoint')[i].style.width = cv.offsetWidth/150 + 'px';
                document.getElementsByClassName('educationPoint')[i].style.height = cv.offsetWidth/38 + 'px';
            }
            for(i = 0; i < document.getElementsByClassName('expDiv2').length; i++)
            document.getElementsByClassName('expDiv2')[i].style.borderLeft = 'solid ' + cv.offsetWidth/700 + 'px';
            for(i = 0; i < document.getElementsByClassName('educDiv2').length; i++)
            document.getElementsByClassName('educDiv2')[i].style.borderLeft = 'solid ' + cv.offsetWidth/700 + 'px';
            for(i = 0; i < document.querySelectorAll('.levelDiv').length; i++)
            document.getElementsByClassName('levelDiv')[i].style.height = cv.offsetWidth/200 + 'px';
            document.getElementById('editText').style.fontSize = cv.offsetWidth/ppSize + 'px';
            for(i = 0; i < allSettingsMenu.querySelectorAll('textarea').length; i++)
            allSettingsMenu.getElementsByTagName('textarea')[i].style.fontSize = cv.offsetWidth/36.75 + 'px';
            addSkillLevel.style.fontSize = cv.offsetWidth/ppSize + 'px';
            for(i = 0; i < document.querySelectorAll('.languageSectionPoint').length; i++){
                document.getElementsByClassName('languageSectionPoint')[i].style.minWidth = cv.offsetWidth/98 + 'px';
                document.getElementsByClassName('languageSectionPoint')[i].style.height = cv.offsetWidth/98 + 'px';
            }
        }
        setTimeout(function(){
            sizingAllCv(cvSizeRange.value);
        }, 0);


        //--------------- Get background color from localStorage -------------//

        setInterval(function(){
            if(localStorage.cvColor1 == '' || localStorage.cvColor1 == undefined)
            changeColor('#09b');
            else
            changeColor(localStorage.cvColor1);
        }, 1);

        // --------------- Change background color -------------//

        colorSettings.addEventListener('click', function(evt){
            if(evt.target.tagName == 'DIV' && evt.target.parentNode.id == 'colorSettings'){
                changeColor(evt.target.id);
                localStorage.cvColor1 = evt.target.id;
            }
        });

        function changeColor(n){
            for(i = 0; i < document.getElementsByTagName('h4').length; i++){
                document.getElementsByTagName('h4')[i].style.color = n;
                document.getElementsByTagName('h4')[i].style.borderBottom = 'solid ' + cv.offsetWidth/500 + 'px ' + n;
            }
            for(i = 0; i < document.querySelectorAll('.levelDiv').length; i++)
            document.getElementsByClassName('levelDiv')[i].getElementsByTagName('div')[0].style.background = n;
            floatText.style.background = n;
            for(i = 0; i < document.querySelectorAll('h1').length; i++)
            document.getElementsByTagName('h1')[i].style.color = n;
            for(i = 0; i < document.querySelectorAll('.languageSectionPoint').length; i++)
            document.getElementsByClassName('languageSectionPoint')[i].style.background = n;
            for(i = 0; i < rightSide.querySelectorAll('b').length; i++)
            rightSide.getElementsByTagName('b')[i].style.color = n;
            for(i = 0; i < document.getElementsByClassName('expDiv2').length; i++)
            document.getElementsByClassName('expDiv2')[i].style.borderLeft = 'solid ' + cv.offsetWidth/700 + 'px' + n;
            for(i = 0; i < document.getElementsByClassName('educDiv2').length; i++)
            document.getElementsByClassName('educDiv2')[i].style.borderLeft = 'solid ' + cv.offsetWidth/700 + 'px' + n;
            for(i = 0; i < document.querySelectorAll('.experiencePoint').length; i++)
            document.getElementsByClassName('experiencePoint')[i].style.background = n;
            for(i = 0; i < document.querySelectorAll('.educationPoint').length; i++)
            document.getElementsByClassName('educationPoint')[i].style.background = n;
            experiencesSection.style.borderBottom = 'solid ' + cv.offsetWidth/980 + 'px ' + n;
            for(i = 0; i < document.getElementsByClassName('colorSettingDivs').length; i++)
            document.getElementsByClassName('colorSettingDivs')[i].style.transform = 'rotate(0deg)';
            document.getElementById(n).style.transform = 'rotate(10deg)';
        }


        //--------- Show edit settings ---------//

        var currentElement;
        var currentSection;

        document.addEventListener('click', function(evt){
            if(evt.target.id != 'mainSettingButton'
            && evt.target.parentNode.className != 'mainSettings'
            && evt.target.id != 'mainSettings')
            mainSettings.style.display = 'none';

            if(evt.target.className == 'changable'){
                editText.style.width = cv.offsetWidth/2 + 'px';
                editText.style.height = evt.target.offsetHeight + 'px';
                editText.value = evt.target.innerHTML;
                currentElement = evt.target.id;
                settings.style.display = 'flex';
            }

            if(evt.target.id.includes('Skill')){
                editText.style.height = evt.target.offsetHeight*5 + 'px';
                editText.select();
            }

            if(evt.target.className == 'secSetting' && evt.target.id != 'mainSettingButton'){
                currentSection = evt.target.id;
                allSettingsMenuSubmit.style.display = 'none';
                allSettingsMenu.style.top = evt.target.parentNode.offsetTop + 'px';
                allSettingsMenu.style.left = evt.target.offsetLeft + 'px';
                allSettingsMenu.style.display = "flex";
            }
        });

        //--------- All settings options to view ---------//

        var allSettingSelectedOption;

        function allSettingsMenuF(n, n2, n3, n4){
            for(i = 0; i < allSettingsMenu.childElementCount-1; i++)
            document.getElementsByClassName('allSettingsMenuOption')[i].style.display = "none";
            allSettingSelectedOption = n;
            document.getElementById(n).style.display = "block";
            document.getElementById(n).focus();
            if(n2)
            document.getElementById(n2).style.display = "block";
            if(n3)
            document.getElementById(n3).style.display = "block";
            if(n4)
            document.getElementById(n4).style.display = "block";
        }


        //--------- Hyde forms mouse down ---------//

        document.addEventListener('mousedown', function(evt){
            if(evt.target.className != 'changable'
            && evt.target.parentNode.id != 'settings'){
                settings.style.display = 'none';
            }

            if(evt.target.className != 'secSetting'
            && evt.target.parentNode.id != 'allSettingsMenu')
            allSettingsMenu.style.display = "none";
        });


        
        //--------- Remove or update and recorde ---------//

        document.getElementById('actionButton').onclick = function(){
            if(editText.value == ''){
                document.getElementById(currentElement + 'Div').remove();
                setLocalStorageSections();
                settings.style.display = 'none';
            }
            document.getElementById(currentElement).innerHTML = editText.value;
            settings.style.display = 'none';
            // Profile localStorage
            localStorage.profileWord = profileWord.innerHTML;
            localStorage.clientProfile = clientProfile.innerHTML;
            // Language localStorage
            localStorage.languageWord = languageWord.innerHTML;
            // Experience
            localStorage.experienceWord = experienceWord.innerHTML;
            // Education
            localStorage.educationWord = educationWord.innerHTML;
            // Skills
            localStorage.skillWord = skillsTitle.innerHTML;
            document.getElementById(currentElement).style.width = document.getElementById(currentElement).innerHTML*10 + '%';
            setLocalStorageSections();
        }

        function setLocalStorageSections(){
            setLocalStorageLanguage();
            setLocalStorageExperience();
            setLocalStorageEducation();
            lclStSkill();
            contactInfoToLocalS();
            headerInfoToLocalS();
        }


        //--------- Show all settings menu beside setting 3 button ---------//

        document.addEventListener('click', function(evt){
            if(evt.target.className == 'secSetting'){
                allSettingsMenu.style.top = evt.target.parentNode.offsetTop + 'px';
                allSettingsMenu.style.left = evt.target.offsetLeft + 'px';
            }
        });


        
        //---- Clear localStorage and hide sections -----//
        document.getElementById('hideSection').onclick = function(){
            var sectionName = currentSection.substr(0, currentSection.length-14) + 'Section';
            document.getElementById(sectionName).style.display = 'none';
            allSettingsMenu.style.display = 'none';
            if(sessionStorage.hiddenSection == undefined)
            sessionStorage.hiddenSection = '';
            sessionStorage.hiddenSection += sectionName + '|||';
        }

        if(sessionStorage.hiddenSection != '' && sessionStorage.hiddenSection != undefined)
        for(i = 0; i < sessionStorage.hiddenSection.split('|||').length-1; i++)
        document.getElementById(sessionStorage.hiddenSection.split('|||')[i]).style.display = 'none';

        document.getElementById('clearLocalStorage').onclick = function(){
            if(currentSection == 'mySocialMediaSectionSetting')
            delete localStorage.mySocialMediaTitle;
            if(currentSection == 'referenceSectionSetting')
            delete localStorage.referenceTitle;
            if(currentSection == 'languageSectionSetting')
            delete localStorage.languageTitle;
            if(currentSection == 'experiencesSectionSetting')
            delete localStorage.experiences;
            if(currentSection == 'educationsSectionSetting')
            delete localStorage.educations;
            if(currentSection == 'skillsSectionSetting')
            delete localStorage.skills;
            if(currentSection == 'hobbySectionSetting')
            delete localStorage.hobby;
            window.location.reload();
        }


        //--------- Contact section ---------//

        function contactInfoToLocalS(){
            localStorage.contactWord = contactTitle.innerHTML;
            localStorage.clientNumber = clientNumber.innerHTML;
            if(clientEmail.innerHTML != 'emailaddress@example.com')
            sessionStorage.clientEmail = clientEmail.innerHTML;
            localStorage.clientAddress = clientAddress.innerHTML;
        }

        if(localStorage.contactWord == '' || localStorage.contactWord == undefined)
        clientNumber.innerHTML = 'Contact';
        else
        contactTitle.innerHTML = localStorage.contactWord;

        if(localStorage.clientNumber == '' || localStorage.clientNumber == undefined)
        clientNumber.innerHTML = 'Number: 0721234567';
        else
        clientNumber.innerHTML = localStorage.clientNumber;

        if(sessionStorage.clientEmail == '' || sessionStorage.clientEmail == undefined)
        clientEmail.innerHTML = 'emailaddress@example.com';
        else
        clientEmail.innerHTML = sessionStorage.clientEmail;

        if(localStorage.clientAddress == '' || localStorage.clientAddress == undefined)
        clientAddress.innerHTML = 'Here you add your address';
        else
        clientAddress.innerHTML = localStorage.clientAddress;


        //----- Education ----//
        if(localStorage.educationWord == '' || localStorage.educationWord == undefined)
        educationWord.innerHTML = 'EDUCATION';
        else
        educationWord.innerHTML = localStorage.educationWord;

        if(localStorage.educations == '' || localStorage.educations == undefined){
            addEducation('Education title', 'Education date', 'Type of the education', 'Lorem ipsum dolor sit amet con sec tetur adipis icing elit. Rat ione volu ptas et disti nctio numq uam quidem placeat');
            addEducation('Education title', 'Education date', 'Type of the education', 'Lorem ipsum dolor sit amet con sec tetur adipis icing elit. Rat ione volu ptas et disti nctio numq uam quidem placeat');
        }
        else
        for(i = 0; i < localStorage.educations.split('***').length-1; i++)
        addEducation(localStorage.educations.split('***')[i].split('|||')[0], localStorage.educations.split('***')[i].split('|||')[1], localStorage.educations.split('***')[i].split('|||')[2], localStorage.educations.split('***')[i].split('|||')[3]);

        function addEducation(title, date, type, text){
            var education = document.createElement('div');
            education.id = 'education' + parseInt(Math.ceil(Math.random()*9999)+10000);
            education.className = 'education';

            var educDiv1 = document.createElement('div');
            educDiv1.className = 'educDiv1';

            var educationTitle = document.createElement('b');
            educationTitle.id = education.id + 'educationTitle';
            educationTitle.className = 'changable';
            educationTitle.innerHTML = title;

            var educationDate = document.createElement('p');
            educationDate.id = education.id + 'educationDate';
            educationDate.className = 'changable';
            educationDate.innerHTML = date;

            educDiv1.appendChild(educationTitle);
            educDiv1.appendChild(educationDate);

            var educDiv2 = document.createElement('div');
            educDiv2.className = 'educDiv2';

            var point = document.createElement('div');
            point.className = 'educationPoint';
            
            var educationType = document.createElement('b');
            educationType.id = education.id + 'educationType';
            educationType.className = 'changable';
            educationType.innerHTML = type;

            var educationText = document.createElement('p');
            educationText.id = education.id + 'educationText';
            educationText.className = 'changable';
            educationText.innerHTML = text;

            education.id = educationTitle.id + 'Div';

            educDiv2.appendChild(point);
            educDiv2.appendChild(educationType);
            educDiv2.appendChild(educationText);

            education.appendChild(educDiv1);
            education.appendChild(educDiv2);

            educationsSection.appendChild(education);
        }

        function setLocalStorageEducation(){
            localStorage.educations = '';
            var edu = document.getElementsByClassName('education');
            for(i = 0; i < edu.length; i++)
            localStorage.educations += edu[i].getElementsByTagName('b')[0].innerHTML + '|||' + edu[i].getElementsByTagName('p')[0].innerHTML + '|||' + edu[i].getElementsByTagName('b')[1].innerHTML + '|||' + edu[i].getElementsByTagName('p')[1].innerHTML + '|||' + '***';
        }
        setLocalStorageEducation();



        //-------------- allSettingsMenuSubmit-----------------//


        document.getElementById('allSettingsMenuSubmit').onclick = function(){
            // Add education //
            if(allSettingSelectedOption == 'addEducationDate'){
                if(addEducationDate.value != '' && addEducationTitle.value != '' && addEducationText.value != '' && addEducationType.value != ''){
                    addEducation(addEducationTitle.value, addEducationDate.value, addEducationType.value, addEducationText.value);
                    setLocalStorageEducation();
                    allSettingsMenu.style.display = 'none';
                }
            }
            // Add skill //
            if(allSettingSelectedOption == 'addSkillText'){
                if(addSkillText.value != '' && addSkillLevel.value != ''){
                    addSkillFromStorage(addSkillText.value, addSkillLevel.value);
                    allSettingsMenu.style.display = 'none';
                    lclStSkill();
                }
            }
            // Add language //
            if(allSettingSelectedOption == 'addLanguageName'){
                if(addLanguageName.value != ''){
                    addLanguage(addLanguageName.value);
                    setLocalStorageLanguage();
                    allSettingsMenu.style.display = 'none';
                }
            }
            // Add experience //
            if(allSettingSelectedOption == 'addExperienceDate'){
                if(addExperienceDate.value != '' && addExperienceTitle.value != '' && addExperienceText.value != '' && addExperienceType.value != ''){
                    addExperience(addExperienceTitle.value, addExperienceDate.value, addExperienceType.value, addExperienceText.value)
                    setLocalStorageExperience();
                    allSettingsMenu.style.display = 'none';
                }
            }
            setTimeout(function(){
                sizingAllCv(cvSizeRange.value);
            }, 0);
        }


        //--------- Skills section ---------//

        if(localStorage.skillWord == '' || localStorage.skillWord == undefined)
        skillsTitle.innerHTML = 'Technical Skills';
        else
        skillsTitle.innerHTML = localStorage.skillWord;

        function addSkillFromStorage(ttl, lvl){
            var skill = document.createElement('div');
            var numbrOfSkll = skillsSection.getElementsByClassName('skill').length;
            skill.className = 'skill';

            var title = document.createElement('p');
            title.id = parseInt(Math.ceil(Math.random()*9999)+10000) + 'Title';
            title.className = 'changable';
            title.innerHTML = ttl;
            title.title = ttl;
            
            var levelDiv = document.createElement('div');
            levelDiv.className = 'levelDiv';

            var level = document.createElement('div');
            level.id = parseInt(Math.ceil(Math.random()*9999)+10000) + 'Skill';
            level.className = 'changable';
            level.innerHTML = lvl;
            level.style.width = lvl*10 + '%';

            skill.id = title.id + 'Div';

            levelDiv.appendChild(level);

            skill.appendChild(title);
            skill.appendChild(levelDiv);

            skillsSection.appendChild(skill);
        }

        function lclStSkill(){
            localStorage.skills = '';
            for(i = 0; i < document.getElementsByClassName('skill').length; i++)
            localStorage.skills += document.getElementsByClassName('skill')[i].getElementsByTagName('p')[0].innerHTML + '|||' + document.getElementsByClassName('levelDiv')[i].getElementsByTagName('div')[0].innerHTML + '|||' + '***';
            localStorage.skillWord = skillsTitle.innerHTML;
        }

        if(localStorage.skills == '' || localStorage.skills == undefined)
            addSkillFromStorage('Example', 5);
        else
        for(i = 0; i < localStorage.skills.split('***').length-1; i++){
            addSkillFromStorage(localStorage.skills.split('***')[i].split('|||')[0], localStorage.skills.split('***')[i].split('|||')[1]);
        }


        //----- Language ----//
        if(localStorage.languageWord == '' || localStorage.languageWord == undefined)
        languageWord.innerHTML = '/// Languages';
        else
        languageWord.innerHTML = localStorage.languageWord;

        if(localStorage.languageTitle == '' || localStorage.languageTitle == undefined){
            addLanguage('language1');
            addLanguage('language2');
        }
        else
        for(i = 0; i < localStorage.languageTitle.split('|||').length-1; i++)
        addLanguage(localStorage.languageTitle.split('|||')[i]);

        function addLanguage(n){
            var language = document.createElement('div');
            language.id = 'language' + parseInt(Math.ceil(Math.random()*9999)+10000);
            language.className = 'language';

            var div = document.createElement('div');
            div.className = 'languageDiv';

            var div2 = document.createElement('div');
            div2.className = 'languageSectionPoint';

            var title = document.createElement('p');
            title.id = language.id + 'Title';
            title.className = 'changable';
            title.innerHTML = n;

            language.id = title.id + 'Div';

            div.appendChild(div2);
            div.appendChild(title);

            language.appendChild(div);

            languageSection.appendChild(language);
        }

        function setLocalStorageLanguage(){
            localStorage.languageTitle = '';
            var lang = document.getElementsByClassName('languageDiv');
            for(i = 0; i < lang.length; i++)
            localStorage.languageTitle += lang[i].getElementsByTagName('p')[0].innerHTML + '|||';
        }
        setLocalStorageLanguage();

        //--------- Right section ---------//
        //--------- Header info and profile ---------//
        

        if(localStorage.clientName == '' || localStorage.clientName == undefined)
        localStorage.clientName = 'Full name';

        if(localStorage.clientTitle == '' || localStorage.clientTitle == undefined)
        localStorage.clientTitle = 'Career title';

        if(localStorage.clientProfile == '' || localStorage.clientProfile == undefined)
        localStorage.clientProfile = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptate ducimus est illum iusto animi';

        if(localStorage.profileWord == '' || localStorage.profileWord == undefined)
        profileWord.innerHTML = '/// Profile';
        else
        profileWord.innerHTML = localStorage.profileWord;

        if(localStorage.clientProfile == '' || localStorage.clientProfile == undefined)
        localStorage.clientProfile = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptate ducimus est illum iusto animi vitae magnam, ea soluta quisquam, non praesentium amet perferendis, qui nulla optio! Quis, voluptate hic! Lorem ipsum dolor sit amet consectetur adipisicing elit.';

        clientName.innerHTML = localStorage.clientName;
        clientTitle.innerHTML = localStorage.clientTitle;
        clientProfile.innerHTML = localStorage.clientProfile;
        clientProfile.innerHTML = localStorage.clientProfile;

        function headerInfoToLocalS(){
            localStorage.clientName = clientName.innerHTML;
            localStorage.clientTitle = clientTitle.innerHTML;
            localStorage.clientProfile = clientProfile.innerHTML;
            localStorage.profileWord = profileWord.innerHTML;
            localStorage.clientProfile = clientProfile.innerHTML;
        }


        //----- Experience ----//
        if(localStorage.experienceWord == '' || localStorage.experienceWord == undefined)
        experienceWord.innerHTML = 'WORK EXPERIENCE';
        else
        experienceWord.innerHTML = localStorage.experienceWord;

        if(localStorage.experiences == '' || localStorage.experiences == undefined){
            addExperience('Experience title', 'Experience date', 'Type of the experience', 'Lorem ipsum dolor sit amet con sec tetur adipis icing elit. Rat ione volu ptas et disti nctio numq uam quidem placeat');
            addExperience('Experience title', 'Experience date', 'Type of the experience', 'Lorem ipsum dolor sit amet con sec tetur adipis icing elit. Rat ione volu ptas et disti nctio numq uam quidem placeat');
            addExperience('Experience title', 'Experience date', 'Type of the experience', 'Lorem ipsum dolor sit amet con sec tetur adipis icing elit. Rat ione volu ptas et disti nctio numq uam quidem placeat');
        }
        else
        for(i = 0; i < localStorage.experiences.split('***').length-1; i++)
        addExperience(localStorage.experiences.split('***')[i].split('|||')[0], localStorage.experiences.split('***')[i].split('|||')[1], localStorage.experiences.split('***')[i].split('|||')[2], localStorage.experiences.split('***')[i].split('|||')[3]);

        function addExperience(title, date, type, text){
            var experience = document.createElement('div');
            experience.id = 'experience' + parseInt(Math.ceil(Math.random()*9999)+10000);
            experience.className = 'experience';

            var expDiv1 = document.createElement('div');
            expDiv1.className = 'expDiv1';

            var jobTitle = document.createElement('b');
            jobTitle.id = experience.id + 'JobTitle';
            jobTitle.className = 'changable';
            jobTitle.innerHTML = title;

            var jobDate = document.createElement('p');
            jobDate.id = experience.id + 'JobDate';
            jobDate.className = 'changable';
            jobDate.innerHTML = date;

            expDiv1.appendChild(jobTitle);
            expDiv1.appendChild(jobDate);

            var expDiv2 = document.createElement('div');
            expDiv2.className = 'expDiv2';

            var point = document.createElement('div');
            point.className = 'experiencePoint';
            
            var jobType = document.createElement('b');
            jobType.id = experience.id + 'JobType';
            jobType.className = 'changable';
            jobType.innerHTML = type;

            var jobText = document.createElement('p');
            jobText.id = experience.id + 'JobText';
            jobText.className = 'changable';
            jobText.innerHTML = text;

            experience.id = jobTitle.id + 'Div';

            expDiv2.appendChild(point);
            expDiv2.appendChild(jobType);
            expDiv2.appendChild(jobText);

            experience.appendChild(expDiv1);
            experience.appendChild(expDiv2);

            experiencesSection.appendChild(experience);
        }

        function setLocalStorageExperience(){
            localStorage.experiences = '';
            var exp = document.getElementsByClassName('experience');
            for(i = 0; i < exp.length; i++)
            localStorage.experiences += exp[i].getElementsByTagName('b')[0].innerHTML + '|||' + exp[i].getElementsByTagName('p')[0].innerHTML + '|||' + exp[i].getElementsByTagName('b')[1].innerHTML + '|||' + exp[i].getElementsByTagName('p')[1].innerHTML + '|||' + '***';
        }
        setLocalStorageExperience();



    </script>
</html>