<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../mutualStyle.css">
    </head>
    <body>
        <input type="hidden" value="{{imageFiles}}" id="allImageNames">

        <form action="/imageUpload" method="post" enctype="multipart/form-data" style="display: none">
            <input type="file" name="file" id="imageFile">
            <input type="text" name="fileName" id="imageFileName">
            <input type="hidden" name="redirect" value="design5">
            <button id="imageUploadSubmit"></button>
        </form>

        <div id="cvWrapper">
            <button id="screenShott" onclick="screenShot()">Take a screenshot</button>
            <input type="range" id="cvSizeRange" min="1000" max="10000">
            <input type="range" id="pSizeRange" min="10" max="100" class="fontPSize">
            <div id="cv">
                <div id="settings">
                    <textarea id="editText"></textarea>
                    <p id="actionButton">Update</p>
                </div>
                <div id="allSettingsMenu">
                    <p id="changeImage" class="allSettingsMenuOption" onclick="imageFile.click()">Change image</p>
                    <p id="removeImage" class="allSettingsMenuOption">Remove image</p>
                    <p id="addEducation" class="allSettingsMenuOption" onclick="allSettingsMenuF('addEducationDate', 'addEducationTitle', 'addEducationText'); allSettingsMenuSubmit.style.display='block'">Add education</p>
                    <textarea id="addEducationDate" class="allSettingsMenuOption" placeholder="Education date"></textarea>
                    <textarea id="addEducationTitle" class="allSettingsMenuOption" placeholder="Education title"></textarea>
                    <textarea id="addEducationText" class="allSettingsMenuOption" placeholder="Education description"></textarea>
                    <p id="addSkill" class="allSettingsMenuOption" onclick="allSettingsMenuF('addSkillText', 'addSkillLevel'); allSettingsMenuSubmit.style.display='block'">Add skill</p>
                    <textarea id="addSkillText" placeholder="Skill title" class="allSettingsMenuOption"></textarea>
                    <input type="number" id="addSkillLevel" min="1" max="10" placeholder="Skill level" class="allSettingsMenuOption">
                    <p id="addExperience" class="allSettingsMenuOption" onclick="allSettingsMenuF('addExperienceDate', 'addExperienceTitle', 'addExperienceText', 'addExperienceType'); allSettingsMenuSubmit.style.display='block'">Add experience</p>
                    <textarea id="addExperienceDate" placeholder="Experience date" class="allSettingsMenuOption"></textarea>
                    <textarea id="addExperienceTitle" placeholder="Experience title" class="allSettingsMenuOption"></textarea>
                    <textarea id="addExperienceText" placeholder="Experience text" class="allSettingsMenuOption"></textarea>
                    <textarea id="addExperienceType" placeholder="Type of experience" class="allSettingsMenuOption"></textarea>
                    <p id="addHobby" class="allSettingsMenuOption" onclick="allSettingsMenuF('addhobbyName'); allSettingsMenuSubmit.style.display='block'">Add hobby</p>
                    <textarea id="addhobbyName" placeholder="Hobby name" class="allSettingsMenuOption"></textarea>
                    <p id="allSettingsMenuSubmit">OK</p>
                    <p id="clearLocalStorage" class="allSettingsMenuOption">Clear</p>
                    <p id="hideSection" class="allSettingsMenuOption">Delete section</p>
                </div>
                <!-- Header section -->
                <!-- ---- Hooby ----- -->
                <div id="hobbySectionMainSection">
                    <a id="hobbySectionMainSectionSetting" class="secSetting" onclick="allSettingsMenuF('addHobby', 'clearLocalStorage', 'hideSection')">...</a>
                    <div id="hobbySection">
                        <b id="hobbyWord" class="changable"></b>
                        <div id="mainHobbyWrapper"></div>
                    </div>
                </div>
                <div id="headerSection">
                    <div id="headerLeftSection">
                        <a id="imageSetting" class="secSetting" onclick="allSettingsMenuF('changeImage', 'removeImage')">...</a>
                        <img src="" id="clientPhoto">
                    </div>
                    <div id="headerRightSection">
                        <h1 id="clientName" class="changable">Mustafa Altaie</h1>
                        <b id="clientTitle" class="changable">Software Developer</b>
                        <!-- ---- Profile ----- -->
                        <div id="profile">
                            <b id="profileTitle" class="changable"></b>
                            <p id="clientProfile" class="changable">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet, quasi numquam vero, saepe temporibus iure officiis quia dolore voluptas veniam consequatur.</p>
                        </div>
                    </div>
                </div>
                <!-- Footer section -->
                <div id="footerSection">
                    <div id="footerLeftSection">
                        <!-- ---- Contact ----- -->
                        <div id="contactMeSection">
                            <div>
                                <img src="/images/mobileIconWhite.png" id="mobileIcon" class="icons">
                                <div class="contactInfoBlock">
                                    <u id="mobileWord" class="changable">Mobile</u>
                                    <p id="clientNumber" class="changable">0721234567</p>
                                </div>
                            </div>
                            <div>
                                <img src="/images/emailIconWhite.png" id="emailIcon" class="icons">
                                <div class="contactInfoBlock">
                                    <u id="emailWord" class="changable">Email</u>
                                    <p id="clientEmail" class="changable">mustafaphoto@gmail.com</p>
                                </div>
                            </div>
                            <div>
                                <img src="/images/addressIconWhite.png" id="addressIcon" class="icons">
                                <div class="contactInfoBlock">
                                    <u id="addressWord" class="changable">Address</u>
                                    <p id="clientAddress" class="changable">Kerstinbodagatan 16</p>
                                </div>
                            </div>
                        </div>
                        <!-- ---- Skills and education ----- -->
                        <div id="skillEducationContainer">
                            <!-- ---- Skills ----- -->
                            <div id="skillsSection">
                                <a id="skillsSectionSetting" class="secSetting" onclick="allSettingsMenuF('addSkill', 'clearLocalStorage', 'hideSection')">...</a>
                                <b id="skillWord" class="changable"></b>
                                <div id="mainSkillWrapper"></div>
                            </div>
                        </div>
                    </div>
                    <div id="footerRightSection">
                        <!-- ---- Experience and education ----- -->
                        <div id="experienceHobbySection">
                            <!-- ---- Experience ----- -->
                            <div id="experiencesSection">
                                <img src="/images/experienceImage.png" id="experienceImage">
                                <a id="experiencesSectionSetting" class="secSetting" onclick="allSettingsMenuF('addExperience', 'clearLocalStorage', 'hideSection')">...</a>
                                <b id="experienceWord" class="changable">/// Work experience</b>
                            </div>
                            <!-- ---- Educations ----- -->
                            <div id="educationsSection">
                                <img src="/images/educationImageBlack.png" id="educationImage">
                                <a id="educationsSectionSetting" class="secSetting" onclick="allSettingsMenuF('addEducation', 'clearLocalStorage', 'hideSection')">...</a>
                                <b id="educationWord" class="changable"></b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <style>
        *{
            margin: 0;
            padding: 0;
            font-family: 'Comfortaa', cursive;
            font-weight: normal;
            outline: none;
        }
        body{
            background: #aaa;
        }
        b{
            font-weight: bold;
        }
        h6{
            font-weight: bold;
        }
        u{
            text-decoration: none;
        }
        h1, #clientTitle{
            color: #079;
        }
        #cvWrapper{
            display: flex;
            justify-content: center;
            padding: 200px 0 50px 0;
        }
        #cv, #headerLeftSection, #skillsSection, #educationsSection, #experiencesSection, #hobbySectionMainSection{
            position: relative;
        }
        #headerLeftSection:hover > a, #skillsSection:hover > a, #educationsSection:hover > a, #experiencesSection:hover > a, #hobbySectionMainSection:hover > a{
            display: block;
        }
        #cv{
            background: #ddd;
            box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
            overflow: hidden;
        }
        /* -----------------Header section---------------- */
        #headerSection{
            color: #bbb;
            background: #111;
            display: flex;
        }
        #headerRightSection{
            width: 55%;
            padding: 0 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        #headerRightSection > b{
            margin: 3% 0;
        }
        #headerLeftSection{
            width: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #clientPhoto{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        /* -----------------Footer section---------------- */
        #footerSection{
            display: flex;
            height: 100%;
        }
        /* left Section */
        #footerLeftSection{
            background: #111;
            color: #bbb;
            width: 35%;
            display: flex;
            flex-direction: column;
        }
        /* Contact */
        #contactMeSection{
            padding: 5%;
        }
        #contactMeSection > div{
            display: flex;
            align-items: center;
            margin: 10% 0;
            gap: 3%;
        }
        .contactInfoBlock{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .contactInfoBlock > u{
            margin-bottom: 5%;
        }
        /* Skills */
        #skillsSection{
            padding: 10%;
            display: flex;
            flex-direction: column;
        }
        #skillWord{
            margin-bottom: 10%;
            padding: 2%;
        }
        #mainSkillWrapper{
            display: flex;
            flex-direction: column;
        }
        .skillMainBlock{
            width: 100%;
            margin: 5% 0;
        }
        .skillMainBlock > p{
            margin-bottom: 2%;
        }
        .clientSkillWrapper{
            width: 100%;
            background: #333;
        }
        .clientSkill{
            height: 100%;
            width: 50%;
            background: #079;
            cursor: pointer;
        }
        /* Right Section */
        #footerRightSection{
            width: 65%;
            background: #eee;
            color: #111;
        }
        /* Profile */
        #profile{
            padding: 5% 0;
            display: flex;
            flex-direction: column;
        }
        #profile > b{
            margin-bottom: 2%;
        }
        /* Education */
        /* Experience */
        #experiencesSection, #educationsSection{
            padding: 3% 5%;
            display: flex;
            flex-direction: column;
        }
        #experienceImage, #educationImage{
            pointer-events: none;
        }
        #experiencesSection > img, #educationsSection > img{
            position: absolute;
            top: 50%;
            left: 4%;
            width: 500px;
            transform: translateY(-50%);
            opacity: 0.1;
        }
        #experiencesSection > b, #educationsSection > b{
            margin-bottom: 2%;
        }
        #experiencesSection > div, #educationsSection > div{
            display: flex;
        }
        .experiencePoint, .educationPoint{
            position: absolute;
            left: 0;
            transform: translateX(-57%);
            background: #333;
        }
        .expDiv1, .educDiv1{
            width: 35%;
        }
        .expDiv2, .educDiv2{
            position: relative;
            width: 60%;
            padding: 0 0 5% 5%;
        }
        .expDiv2 > p, .educDiv2 > p{
            margin: 2% 0;
        }
        .expDiv1 > p, .educDiv1 > p{
            margin: 4% 0;
        }
        /* -- Hobbies -- */
        #hobbySection{
            padding: 1% 3% 0 3%;
        }
        #mainHobbyWrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 5%;
            margin-top: 2%;
        }
        #mainHobbyWrapper > div{
            display: flex;
            align-items: center;
            gap: 10%;
            margin-bottom: 1%;
        }
        #mainHobbyWrapper > div > p{
            white-space: nowrap;
        }
        .hobbyPoint{
            background: #333;
        }
    </style>

    <script>

        if(window.matchMedia('(min-width: 1024px)').matches)
        document.body.style.zoom = "15%";
        else
        document.body.style.zoom = "5%";

        function screenShot(){
            //sizingAllCv(10000);
            html2canvas(document.getElementById('cv'), {
                onrendered: function(canvas){
                    return Canvas2Image.saveAsJPEG(canvas);
                }
            });
            // setTimeout(function(){
            //     sizingAllCv(cvSizeRange.value);
            // }, 10);
            window.location.href = '/cvCreated/' + localStorage.clientName + '/' + new Date().toJSON() + '/design5';
        }

        // --------------- Get CV size from localStorage -------------//

        if(localStorage.cvSize != '' || localStorage.cvSize != undefined)
        cvSizeRange.value = localStorage.cvSize;
        else
        cvSizeRange.value = 3000;


        // --------------- Get P size from localStorage -------------//

        if(localStorage.pSize5 == '' || localStorage.pSize5 == undefined){
            var pSize = 45;
            pSizeRange.value = 45;
        }
        else{
            var pSize = localStorage.pSize5;
            pSizeRange.value = localStorage.pSize5;
        }


        // --------------- Change CV size via range -------------//

        document.getElementById('cvSizeRange').oninput = function(){
            sizingAllCv(cvSizeRange.value);
            localStorage.cvSize = cvSizeRange.value;
        }

        document.getElementById('cvSizeRange').onchange = function(){
            window.location.reload();
        }
        document.getElementById('pSizeRange').onchange = function(){
            window.location.reload();
        }


        // --------------- Change P size via range -------------//

        document.getElementById('pSizeRange').oninput = function(){
            localStorage.pSize5 = pSizeRange.value;
            for(i = 0; i < document.querySelectorAll('p').length; i++)
            document.getElementsByTagName('p')[i].style.fontSize = cv.offsetWidth/pSizeRange.value + 'px';
        }


        // --------------- CV properties function -------------//

        function sizingAllCv(n){
            cv.style.width = n + 'px';
            cv.style.height = n * 1.414285714285714 + 'px';
            for(i = 0; i < document.querySelectorAll('p').length; i++)
            document.getElementsByTagName('p')[i].style.fontSize = cv.offsetWidth/pSize + 'px';
            for(i = 0; i < document.querySelectorAll('b').length; i++)
            document.getElementsByTagName('b')[i].style.fontSize = cv.offsetWidth/50 + 'px';
            for(i = 0; i < document.querySelectorAll('h6').length; i++)
            document.getElementsByTagName('h6')[i].style.fontSize = cv.offsetWidth/pSize + 'px';
            document.getElementsByTagName('h1')[0].style.fontSize = cv.offsetWidth/20 + 'px';
            document.getElementsByTagName('h1')[0].style.borderBottom = 'solid ' + cv.offsetWidth/980 + 'px #079';
            for(i = 0; i < document.querySelectorAll('u').length; i++)
                document.getElementsByTagName('u')[i].style.fontSize = cv.offsetWidth/45 + 'px';
            for(i = 0; i < document.querySelectorAll('a').length; i++)
                document.getElementsByTagName('a')[i].style.fontSize = cv.offsetWidth/24.5 + 'px';
            clientPhoto.style.borderRight = 'solid ' + cv.offsetWidth/cv.offsetWidth + 'px rgba(255, 255, 255, 0.3)';
            headerSection.style.borderBottom = 'solid ' + cv.offsetWidth/cv.offsetWidth + 'px rgba(255, 255, 255, 0.3)';
            for(i = 0; i < document.querySelectorAll('.icons').length; i++){
                document.querySelectorAll('.icons')[i].style.width = cv.offsetWidth/25 + 'px';
                document.querySelectorAll('.icons')[i].style.minHeight = cv.offsetWidth/23 + 'px';
            }
            footerRightSection.style.borderLeft = 'solid ' + cv.offsetWidth/980 + 'px rgba(255, 255, 255, 0.3)';
            for(i = 0; i < document.querySelectorAll('.clientSkillWrapper').length; i++)
                document.querySelectorAll('.clientSkillWrapper')[i].style.height = cv.offsetWidth/100 + 'px';
            experiencesSection.style.borderBottom = 'solid ' + cv.offsetWidth/980 + 'px rgba(0, 0, 0, 0.3)';
            experienceImage.style.width = cv.offsetWidth/5 + 'px';
            educationImage.style.width = cv.offsetWidth/5 + 'px';
            if(document.querySelectorAll('.experiencePoint').length > 0)
            for(i = 0; i < document.querySelectorAll('.experiencePoint').length; i++){
                document.getElementsByClassName('experiencePoint')[i].style.width = cv.offsetWidth/150 + 'px';
                document.getElementsByClassName('experiencePoint')[i].style.height = cv.offsetWidth/38 + 'px';
            }
            if(document.querySelectorAll('.educationPoint').length > 0)
            for(i = 0; i < document.querySelectorAll('.educationPoint').length; i++){
                document.getElementsByClassName('educationPoint')[i].style.width = cv.offsetWidth/150 + 'px';
                document.getElementsByClassName('educationPoint')[i].style.height = cv.offsetWidth/38 + 'px';
            }
            if(document.getElementsByClassName('expDiv2').length > 0)
            for(i = 0; i < document.getElementsByClassName('expDiv2').length; i++)
                document.getElementsByClassName('expDiv2')[i].style.borderLeft = 'solid ' + cv.offsetWidth/700 + 'px' + ' #555';
            if(document.getElementsByClassName('educDiv2').length > 0)
            for(i = 0; i < document.getElementsByClassName('educDiv2').length; i++)
                document.getElementsByClassName('educDiv2')[i].style.borderLeft = 'solid ' + cv.offsetWidth/700 + 'px' + ' #555';
            if(document.querySelectorAll('.hobbyPoint').length > 0)
            for(i = 0; i < document.querySelectorAll('.hobbyPoint').length; i++){
                document.getElementsByClassName('hobbyPoint')[i].style.minWidth = cv.offsetWidth/98 + 'px';
                document.getElementsByClassName('hobbyPoint')[i].style.minHeight = cv.offsetWidth/98 + 'px';
            }
            skillWord.style.borderBottom = 'solid ' + cv.offsetWidth/980 + 'px rgba(255, 255, 255, 0.3)';
            skillsSection.style.borderTop = 'solid ' + cv.offsetWidth/980 + 'px rgba(255, 255, 255, 0.3)';
            document.getElementById('editText').style.fontSize = cv.offsetWidth/pSize + 'px';
            for(i = 0; i < document.getElementsByClassName('allSettingsMenuOption').length; i++)
            document.getElementsByClassName('allSettingsMenuOption')[i].style.fontSize = cv.offsetWidth/pSize + 'px';
        }
        setTimeout(function(){
            sizingAllCv(cvSizeRange.value);
        }, 0);



        //--------- Show edit settings ---------//
        var currentElement;
        var currentSection;

        document.addEventListener('click', function(evt){
            if(evt.target.className == 'changable' || evt.target.className == 'clientSkill'){
                editText.style.width = cv.offsetWidth/2 + 'px';
                editText.style.height = evt.target.offsetHeight + 'px';
                editText.value = evt.target.innerHTML;
                currentElement = evt.target.id;
                settings.style.display = 'flex';
            }

            if(evt.target.className == 'secSetting'){
                currentSection = evt.target.id;
                allSettingsMenuSubmit.style.display = 'none';
                allSettingsMenu.style.top = evt.target.parentNode.offsetTop + 'px';
                allSettingsMenu.style.left = evt.target.offsetLeft + 'px';
                allSettingsMenu.style.display = "flex";
            }
        });



        //--------- All settings options to view ---------//
        var allSettingSelectedOption;

        function allSettingsMenuF(n, n2, n3, n4){
            for(i = 0; i < allSettingsMenu.childElementCount-1; i++)
            document.getElementsByClassName('allSettingsMenuOption')[i].style.display = "none";
            allSettingSelectedOption = n;
            document.getElementById(n).style.display = "block";
            document.getElementById(n).focus();
            if(n2)
            document.getElementById(n2).style.display = "block";
            if(n3)
            document.getElementById(n3).style.display = "block";
            if(n4)
            document.getElementById(n4).style.display = "block";
        }



        //--------- All settings button clicked ---------//

        document.getElementById('allSettingsMenuSubmit').onclick = function(){
            // Add experience //
            if(allSettingSelectedOption == 'addExperienceDate'){
                if(addExperienceDate.value != '' && addExperienceTitle.value != '' && addExperienceText.value != '' && addExperienceType.value != ''){
                    addExperience(addExperienceTitle.value, addExperienceDate.value, addExperienceType.value, addExperienceText.value)
                    setLocalStorageExperience();
                    allSettingsMenu.style.display = 'none';
                }
            }
            // Add education //
            if(allSettingSelectedOption == 'addEducationDate'){
                if(addEducationDate.value != '' && addEducationTitle.value != '' && addEducationText.value != ''){
                    addEducation(addEducationTitle.value, addEducationDate.value, addEducationText.value);
                    setLocalStorageEducation();
                    allSettingsMenu.style.display = 'none';
                }
            }
            // Add skill //
            if(allSettingSelectedOption == 'addSkillText'){
                if(addSkillText.value != '' && addSkillLevel.value != ''){
                    addSkill(addSkillText.value, addSkillLevel.value);
                    setLocalStorageSkill();
                    allSettingsMenu.style.display = 'none';
                }
            }
            // Add hobby //
            if(allSettingSelectedOption == 'addhobbyName'){
                if(addhobbyName.value != ''){
                    addHobby(addhobbyName.value);
                    setLocalStorageHobby();
                    allSettingsMenu.style.display = 'none';
                }
            }

            setTimeout(function(){
                sizingAllCv(cvSizeRange.value);
            }, 0);
        }



        //--------- Hyde forms mouse down ---------//
        document.addEventListener('mousedown', function(evt){
            if(evt.target.className != 'changable'
            && evt.target.parentNode.id != 'settings'){
                settings.style.display = 'none';
            }

            if(evt.target.className != 'secSetting'
            && evt.target.parentNode.id != 'allSettingsMenu')
            allSettingsMenu.style.display = "none";
        });



        //--------- Remove or update a record ---------//
        document.getElementById('actionButton').onclick = function(){
            if(editText.value == ''){
                document.getElementById(currentElement + 'Div').remove();
                setLocalStorageSections();
                settings.style.display = 'none';
            }
            document.getElementById(currentElement).innerHTML = editText.value;
            settings.style.display = 'none';
            // Profile localStorage
            localStorage.profileWord = profileTitle.innerHTML;
            localStorage.clientProfile = clientProfile.innerHTML;
            // Experience
            localStorage.experienceWord = experienceWord.innerHTML;
            // Education
            localStorage.educationWord = educationWord.innerHTML;
            // Skills
            localStorage.skillWord = skillWord.innerHTML;
            document.getElementById(currentElement).style.width = document.getElementById(currentElement).innerHTML*10 + '%';
            // Hobbies
            localStorage.hobbyWord = hobbyWord.innerHTML;
            setLocalStorageSections();
        }

        function setLocalStorageSections(){
            setLocalStorageHeader();
            setLocalStorageExperience();
            setLocalStorageEducation();
            setLocalStorageSkill();
            setLocalStorageHobby();
        }



        //---- Clear localStorage and hide sections -----//
        document.getElementById('hideSection').onclick = function(){
            var sectionName = currentSection.substr(0, currentSection.length-14) + 'Section';
            document.getElementById(sectionName).style.display = 'none';
            allSettingsMenu.style.display = 'none';
            if(sessionStorage.hiddenSection == undefined)
            sessionStorage.hiddenSection = '';
            sessionStorage.hiddenSection += sectionName + '|||';
        }

        if(sessionStorage.hiddenSection != '' && sessionStorage.hiddenSection != undefined)
        for(i = 0; i < sessionStorage.hiddenSection.split('|||').length-1; i++)
        document.getElementById(sessionStorage.hiddenSection.split('|||')[i]).style.display = 'none';

        document.getElementById('clearLocalStorage').onclick = function(){
            if(currentSection == 'experiencesSectionSetting')
            delete localStorage.experiences;
            if(currentSection == 'educationsSectionSetting')
            delete localStorage.myEducations;
            if(currentSection == 'skillsSectionSetting')
            delete localStorage.skills;
            if(currentSection == 'hobbySectionMainSectionSetting')
            delete localStorage.hobby;
            window.location.reload();
        }



        //-----------Header------------//
        //---- Personal image section -----//
        if(localStorage.imageName != undefined)
        clientPhoto.src = '/personal images/' + localStorage.imageName + '.jpg';
        else{
            changeImage.innerHTML = 'Add image';
            clientPhoto.src = '/images/personalImageIcon.png';
        }

        var imageExt = '.jpg,.JPG,jpeg,JPEG,.bmp,.BMP,.gif,.GIF,.png,.PNG';

        var uploadPerm = 0;
        var rndNumber;

        document.getElementById('imageFile').onchange = function(){
            if(imageFile.value != ''){
                for(i = 0; i < imageExt.split(',').length; i++){
                    if(imageFile.value.substr(imageFile.value.length-4, imageFile.value.length) == imageExt.split(',')[i]){
                        uploadPerm = 1;
                        break;
                    }
                    else uploadPerm = 0;
                }
                if(uploadPerm == 0) alert('File is not image');
                else{
                    if(changeImage.innerHTML == 'Add image')
                    for(i = 0; i != -1; i++){   //-- Checking if the random number is already used --//
                        rndNumber = Math.ceil(Math.random()*9999 + 10000);
                        if(allImageNames.value.includes(rndNumber))
                        rndNumber = Math.ceil(Math.random()*9999 + 10000);
                        else{
                            localStorage.imageName = rndNumber;
                            imageFileName.value = rndNumber;
                            imageUploadSubmit.click();
                            break;
                        }
                    }
                    else{
                        imageFileName.value = localStorage.imageName;
                        imageUploadSubmit.click();
                    }
                }
            }
        }

        document.getElementById('removeImage').onclick = function(){
            window.location.href = '/deleteImage/' + localStorage.imageName + '/design5';
            delete localStorage.imageName;
        }



        //-------------------Contact------------------//
        if(localStorage.clientName == '' || localStorage.clientName == undefined)
        clientName.innerHTML = 'Full name';
        else
        clientName.innerHTML = localStorage.clientName;

        if(localStorage.clientTitle == '' || localStorage.clientTitle == undefined)
        clientTitle.innerHTML = 'Title or information';
        else
        clientTitle.innerHTML = localStorage.clientTitle;

        if(localStorage.mobileWord == '' || localStorage.mobileWord == undefined)
        mobileWord.innerHTML = 'Mobile';
        else
        mobileWord.innerHTML = localStorage.mobileWord;

        if(localStorage.clientNumber == '' || localStorage.clientNumber == undefined)
        clientNumber.innerHTML = '0721234567';
        else
        clientNumber.innerHTML = localStorage.clientNumber;

        if(localStorage.emailWord == '' || localStorage.emailWord == undefined)
        emailWord.innerHTML = 'Email';
        else
        emailWord.innerHTML = localStorage.emailWord;

        if(localStorage.clientEmail == '' || localStorage.clientEmail == undefined)
        clientEmail.innerHTML = 'Email address';
        else
        clientEmail.innerHTML = localStorage.clientEmail;

        if(localStorage.addressWord == '' || localStorage.addressWord == undefined)
        addressWord.innerHTML = 'Address';
        else
        addressWord.innerHTML = localStorage.addressWord;

        if(localStorage.clientAddress == '' || localStorage.clientAddress == undefined)
        clientAddress.innerHTML = 'Address information';
        else
        clientAddress.innerHTML = localStorage.clientAddress;

        function setLocalStorageHeader(){
            localStorage.clientName = clientName.innerHTML;
            localStorage.clientTitle = clientTitle.innerHTML;
            localStorage.mobileWord = mobileWord.innerHTML;
            localStorage.clientNumber = clientNumber.innerHTML;
            localStorage.emailWord = emailWord.innerHTML;
            localStorage.clientEmail = clientEmail.innerHTML;
            localStorage.addressWord = addressWord.innerHTML;
            localStorage.clientAddress = clientAddress.innerHTML;
        }



        //----- Skills ----//
        if(localStorage.skillWord == '' || localStorage.skillWord == undefined)
        skillWord.innerHTML = 'SKILLS AND KNOWLEDGE';
        else
        skillWord.innerHTML = localStorage.skillWord;

        if(localStorage.skills == '' || localStorage.skills == undefined){
            addSkill('Skill title1', 5);
            addSkill('Skill title2', 5);
            addSkill('Skill title3', 5);
        }
        else
        for(i = 0; i < localStorage.skills.split('***').length-1; i++)
        addSkill(localStorage.skills.split('***')[i].split('|||')[0], localStorage.skills.split('***')[i].split('|||')[1]);

        function addSkill(title, level){
            var skillMainBlock = document.createElement('div');
            skillMainBlock.className = 'skillMainBlock';

            var skillTitle = document.createElement('p');
            skillTitle.id = parseInt(Math.ceil(Math.random()*9999)+10000) + 'Title';
            skillTitle.className = 'changable';
            skillTitle.innerHTML = title;

            var clientSkillWrapper = document.createElement('div');
            clientSkillWrapper.className = 'clientSkillWrapper';

            var clientSkill = document.createElement('div');
            clientSkill.id = parseInt(Math.ceil(Math.random()*9999)+10000) + 'Skill';
            clientSkill.className = 'clientSkill';
            clientSkill.innerHTML = level;
            clientSkill.style.width = level*10 + '%';

            skillMainBlock.id = skillTitle.id + 'Div';

            clientSkillWrapper.appendChild(clientSkill);

            skillMainBlock.appendChild(skillTitle);
            skillMainBlock.appendChild(clientSkillWrapper);

            mainSkillWrapper.appendChild(skillMainBlock);
        }

        function setLocalStorageSkill(){
            localStorage.skills = '';
            var skl = document.getElementsByClassName('skillMainBlock');
            for(i = 0; i < skl.length; i++)
            localStorage.skills += skl[i].getElementsByTagName('p')[0].innerHTML + '|||' + skl[i].getElementsByClassName('clientSkill')[0].innerHTML + '|||' + '***';
        }
        setLocalStorageSkill();



        //----- Education ----//
        if(localStorage.educationWord == '' || localStorage.educationWord == undefined)
        educationWord.innerHTML = 'EDUCATION';
        else
        educationWord.innerHTML = localStorage.educationWord;

        if(localStorage.educations == '' || localStorage.educations == undefined){
            addEducation('Education title', 'Education date', 'Type of the education', 'Lorem ipsum dolor sit amet con sec tetur adipis icing elit. Rat ione volu ptas et disti nctio numq uam quidem placeat');
            addEducation('Education title', 'Education date', 'Type of the education', 'Lorem ipsum dolor sit amet con sec tetur adipis icing elit. Rat ione volu ptas et disti nctio numq uam quidem placeat');
        }
        else
        for(i = 0; i < localStorage.educations.split('***').length-1; i++)
        addEducation(localStorage.educations.split('***')[i].split('|||')[0], localStorage.educations.split('***')[i].split('|||')[1], localStorage.educations.split('***')[i].split('|||')[2], localStorage.educations.split('***')[i].split('|||')[3]);

        function addEducation(title, date, type, text){
            var education = document.createElement('div');
            education.id = 'education' + parseInt(Math.ceil(Math.random()*9999)+10000);
            education.className = 'education';

            var educDiv1 = document.createElement('div');
            educDiv1.className = 'educDiv1';

            var educationTitle = document.createElement('h6');
            educationTitle.id = education.id + 'educationTitle';
            educationTitle.className = 'changable';
            educationTitle.innerHTML = title;

            var educationDate = document.createElement('p');
            educationDate.id = education.id + 'educationDate';
            educationDate.className = 'changable';
            educationDate.innerHTML = date;

            educDiv1.appendChild(educationTitle);
            educDiv1.appendChild(educationDate);

            var educDiv2 = document.createElement('div');
            educDiv2.className = 'educDiv2';

            var point = document.createElement('div');
            point.className = 'educationPoint';
            
            var educationType = document.createElement('h6');
            educationType.id = education.id + 'educationType';
            educationType.className = 'changable';
            educationType.innerHTML = type;

            var educationText = document.createElement('p');
            educationText.id = education.id + 'educationText';
            educationText.className = 'changable';
            educationText.innerHTML = text;

            education.id = educationTitle.id + 'Div';

            educDiv2.appendChild(point);
            educDiv2.appendChild(educationType);
            educDiv2.appendChild(educationText);

            education.appendChild(educDiv1);
            education.appendChild(educDiv2);

            educationsSection.appendChild(education);
        }

        function setLocalStorageEducation(){
            localStorage.educations = '';
            var edu = document.getElementsByClassName('education');
            for(i = 0; i < edu.length; i++)
            localStorage.educations += edu[i].getElementsByTagName('h6')[0].innerHTML + '|||' + edu[i].getElementsByTagName('p')[0].innerHTML + '|||' + edu[i].getElementsByTagName('h6')[1].innerHTML + '|||' + edu[i].getElementsByTagName('p')[1].innerHTML + '|||' + '***';
        }
        setLocalStorageEducation();



        //----- Profile ----//
        if(localStorage.profileWord == '' || localStorage.profileWord == undefined)
        profileTitle.innerHTML = '/// Profile';
        else
        profileTitle.innerHTML = localStorage.profileWord;

        if(localStorage.clientProfile == '' || localStorage.clientProfile == undefined)
        clientProfile.innerHTML = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptate ducimus est illum iusto animi vitae magnam, ea soluta quisquam, non praesentium amet perferendis, qui nulla optio! Quis, voluptate hic! Lorem ipsum dolor sit amet consectetur adipisicing elit.';
        else
        clientProfile.innerHTML = localStorage.clientProfile;



        // --------------- Experience section -------------//
        if(localStorage.experienceWord == '' || localStorage.experienceWord == undefined)
        experienceWord.innerHTML = 'WORK EXPERIENCE';
        else
        experienceWord.innerHTML = localStorage.experienceWord;

        if(localStorage.experiences == '' || localStorage.experiences == undefined){
            addExperience('Experience title', 'Experience date', 'Type of the experience', 'Lorem ipsum dolor sit amet con sec tetur adipis icing elit. Rat ione volu ptas et disti nctio numq uam quidem placeat');
            addExperience('Experience title', 'Experience date', 'Type of the experience', 'Lorem ipsum dolor sit amet con sec tetur adipis icing elit. Rat ione volu ptas et disti nctio numq uam quidem placeat');
            addExperience('Experience title', 'Experience date', 'Type of the experience', 'Lorem ipsum dolor sit amet con sec tetur adipis icing elit. Rat ione volu ptas et disti nctio numq uam quidem placeat');
        }
        else
        for(i = 0; i < localStorage.experiences.split('***').length-1; i++)
        addExperience(localStorage.experiences.split('***')[i].split('|||')[0], localStorage.experiences.split('***')[i].split('|||')[1], localStorage.experiences.split('***')[i].split('|||')[2], localStorage.experiences.split('***')[i].split('|||')[3]);

        function addExperience(title, date, type, text){
            var experience = document.createElement('div');
            experience.id = 'experience' + parseInt(Math.ceil(Math.random()*9999)+10000);
            experience.className = 'experience';

            var expDiv1 = document.createElement('div');
            expDiv1.className = 'expDiv1';

            var jobTitle = document.createElement('h6');
            jobTitle.id = experience.id + 'JobTitle';
            jobTitle.className = 'changable';
            jobTitle.innerHTML = title;

            var jobDate = document.createElement('p');
            jobDate.id = experience.id + 'JobDate';
            jobDate.className = 'changable';
            jobDate.innerHTML = date;

            expDiv1.appendChild(jobTitle);
            expDiv1.appendChild(jobDate);

            var expDiv2 = document.createElement('div');
            expDiv2.className = 'expDiv2';

            var point = document.createElement('div');
            point.className = 'experiencePoint';
            
            var jobType = document.createElement('h6');
            jobType.id = experience.id + 'JobType';
            jobType.className = 'changable';
            jobType.innerHTML = type;

            var jobText = document.createElement('p');
            jobText.id = experience.id + 'JobText';
            jobText.className = 'changable';
            jobText.innerHTML = text;

            experience.id = jobTitle.id + 'Div';

            expDiv2.appendChild(point);
            expDiv2.appendChild(jobType);
            expDiv2.appendChild(jobText);

            experience.appendChild(expDiv1);
            experience.appendChild(expDiv2);

            experiencesSection.appendChild(experience);
        }

        function setLocalStorageExperience(){
            localStorage.experiences = '';
            var exp = document.getElementsByClassName('experience');
            for(i = 0; i < exp.length; i++)
            localStorage.experiences += exp[i].getElementsByTagName('h6')[0].innerHTML + '|||' + exp[i].getElementsByTagName('p')[0].innerHTML + '|||' + exp[i].getElementsByTagName('h6')[1].innerHTML + '|||' + exp[i].getElementsByTagName('p')[1].innerHTML + '|||' + '***';
        }
        setLocalStorageExperience();



        // --------------- Hobby section -------------//
        if(localStorage.hobbyWord == '' || localStorage.hobbyWord == undefined)
        hobbyWord.innerHTML = 'My hobbies';
        else
        hobbyWord.innerHTML = localStorage.hobbyWord;

        if(localStorage.hobby == '' || localStorage.hobby == undefined){
            addHobby('Hobby1');
            addHobby('Hobby2');
            addHobby('Hobby3');
        }
        else
        for(i = 0; i < localStorage.hobby.split('|||').length-1; i++)
        addHobby(localStorage.hobby.split('|||')[i]);

        function addHobby(title){
            var hobby = document.createElement('div');
            hobby.id = 'hobby' + parseInt(Math.ceil(Math.random()*9999)+10000);
            hobby.className = 'hobby';

            var hobbyPoint = document.createElement('div');
            hobbyPoint.className = 'hobbyPoint';

            var hobbyTitle = document.createElement('p');
            hobbyTitle.id = hobby.id + 'Title';
            hobbyTitle.className = 'changable';
            hobbyTitle.innerHTML = title;

            hobby.id = hobbyTitle.id + 'Div';

            hobby.appendChild(hobbyPoint);
            hobby.appendChild(hobbyTitle);

            mainHobbyWrapper.appendChild(hobby);
        }

        function setLocalStorageHobby(){
            localStorage.hobby = '';
            var hby = document.getElementsByClassName('hobby');
            for(i = 0; i < hby.length; i++)
            localStorage.hobby += hby[i].getElementsByTagName('p')[0].innerHTML + '|||';
        }
        setLocalStorageHobby();
    </script>
</html>