<body>
    <div>
        <span><img src="/designs/design1.jpeg" id="design1"></span>
        <span><img src="/designs/design2.jpeg" id="design2"></span>
        <span><img src="/designs/design3.jpeg" id="design3"></span>
        <span><img src="/designs/design4.jpeg" id="design4"></span>
        <span><img src="/designs/design5.jpeg" id="design5"></span>
        <span><img src="/designs/design6.jpg" id="design6"></span>
        <span><img src="/designs/design7.jpg" id="design7"></span>
        <span><img src="/designs/design8.jpeg" id="design8"></span>
        <span><img src="/designs/design9.jpeg" id="design9"></span>
        <span><img src="/designs/design10.jpeg" id="design10"></span>
        <span><img src="/designs/design11.jpeg" id="design11"></span>
        <span><img src="/designs/design12.jpeg" id="design12"></span>
        <span><img src="/designs/design13.jpeg" id="design13"></span>
    </div>
</body>


<style>
    @media only screen and (max-width: 1024px){
        body span{
            width: 40%;
        }
        body div{
            padding: 10% 1%;
            gap: 7%;
        }
        body span{
            margin-bottom: 10%;
        }
    }
    body{
        background: #aaa;
    }
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5%;
        padding: 5% 1%;
    }
    span:before{
        content: "";
        position: absolute;
        width: 30px;
        height: 99%;
        background: #252525;
        border-right: solid 1px rgba(255, 255, 255, 0.2);
        left: -30px;
        top: 0;
        transform-origin: right;
        transform: skewY(45deg);
        transition: 0.1s;
    }
    span:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 30px;
        background: #444;
        border-left: solid 1px rgba(255, 255, 255, 0.1);
        top: -30px;
        left: 0;
        transform-origin: bottom;
        transform: skewX(45deg);
        transition: 0.1s;
    }
    span{
        width: 20%;
        cursor: pointer;
        margin-bottom: 5%;
        transform: skewY(-10deg);
        transition: 0.1s;
    }
    img{
        width: 100%;
        height: 100%;
    }
    span:hover{
        transform: skewY(-5deg);
    }
    span:hover:before{
        width: 25px;
        left: -25px;
    }
    span:hover:after{
        height: 25px;
        top: -25px;
    }
</style>

<script src="/indexScript.js"></script>