<body>
    <div>
        <span id="design1"><img src="/designs/design1.jpeg"></span>
        <span id="design2"><img src="/designs/design2.jpeg"></span>
        <span id="design3"><img src="/designs/design3.jpeg"></span>
        <span id="design4"><img src="/designs/design4.jpeg"></span>
        <span id="design5"><img src="/designs/design5.jpeg"></span>
        <span id="design6"><img src="/designs/design6.jpg"></span>
        <span id="design7"><img src="/designs/design7.jpg"></span>
        <span id="design8"><img src="/designs/design8.jpeg"></span>
        <span id="design9"><img src="/designs/design9.jpeg"></span>
        <span id="design10"><img src="/designs/design10.jpeg"></span>
        <span id="design11"><img src="/designs/design11.jpeg"></span>
        <span id="design12"><img src="/designs/design12.jpeg"></span>
        <span id="design13"><img src="/designs/design13.jpeg"></span>
    </div>
</body>


<style>
    @media only screen and (max-width: 1024px){
        body span{
            width: 40%;
        }
        body div{
            padding: 10% 1%;
            gap: 7%;
        }
        body span{
            margin-bottom: 10%;
        }
    }
    *{
        user-select: none;
        margin: 0;
    }
    body{
        background: #131313;
    }
    div{
        background-image: url('/images/beehave2.png');
        background-size: 100%;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5%;
        padding: 5% 1%;
    }
    span:before{
        content: "";
        position: absolute;
        width: 10px;
        height: 99%;
        background: #252525;
        border-right: solid 1px rgba(255, 255, 255, 0.2);
        left: -10px;
        top: 0;
        transform-origin: right;
        transform: skewY(45deg);
    }
    span:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 10px;
        background: #444;
        border-left: solid 1px rgba(255, 255, 255, 0.1);
        top: -10px;
        left: 0;
        transform-origin: bottom;
        transform: skewX(45deg);
    }
    span{
        width: 20%;
        cursor: pointer;
        margin-bottom: 5%;
        transform: skewY(-10deg);
        box-shadow: -30px -10px 10px rgba(0, 0, 0, 0.5);
    }
    img{
        width: 100%;
        pointer-events: none;
    }
</style>

<script src="/indexScript.js"></script>