<body>
    <div>
        <img src="/designs/design1.jpeg" id="design1">
        <img src="/designs/design2.jpeg" id="design2">
        <img src="/designs/design3.jpeg" id="design3">
        <img src="/designs/design4.jpeg" id="design4">
        <img src="/designs/design5.jpeg" id="design5">
        <img src="/designs/design6.jpg" id="design6">
        <img src="/designs/design7.jpg" id="design7">
        <img src="/designs/design8.jpeg" id="design8">
        <img src="/designs/design9.jpeg" id="design9">
        <img src="/designs/design10.jpeg" id="design10">
        <img src="/designs/design11.jpeg" id="design11">
        <img src="/designs/design12.jpeg" id="design12">
    </div>
</body>


<style>
    @media only screen and (max-width: 1024px){
        body img{
            width: 48%;
        }
        body div{
            gap: 2%;
        }
        body img{
            margin-bottom: 2%;
        }
    }
    body{
        background: #555;
    }
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5%;
        padding: 1%;
    }
    img{
        width: 20%;
        cursor: pointer;
        margin-bottom: 5%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        transition: 0.1s;
    }
    img:hover{
        transform: rotate(5deg);
    }
</style>

<script>
    document.addEventListener('click', function(evt){
        if(evt.target.tagName == 'IMG'){
            if(localStorage.CVAuthorization != 'authorizated')
            window.location.href = '/register';
            else
            window.location.href = evt.target.id;
        }
    });

</script>